.t-l-c-expandOrFold {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: none;
position: Static;
z-index: 1;
filter: ;
height: 100px;
width: 1920px;
background-color: rgba(0,0,0,0);
}
.t-l-c-expandOrFold .expandOrFold-t-rect-0-0 {
position: absolute !important;
top: 0px;
left: 0px;
width: 1921px;
height: 100px;
pointer-events: none;
}

.t-l-c-expandOrFold .expandOrFold-t-rect-0-1 {
position: absolute !important;
top: 6px;
left: 873px;
width: 178px;
height: 61px;
pointer-events: auto;
}

.t-l-c-expandOrFold .expandOrFold-t-rect-0-2 {
position: absolute !important;
top: 6px;
left: 873px;
width: 178px;
height: 61px;
pointer-events: auto;
}

.t-l-c-expandOrFold .expandOrFold-t-rect-0-3 {
position: absolute !important;
top: -254px;
left: 493px;
width: 946px;
height: 675px;
pointer-events: none;
}
