.t-l-c-gztActiveStateDeveloping {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
background-color: rgba(0,0,0,1);
width: 1920px;
height: 1080px;
}
.t-l-c-gztActiveStateDeveloping .gztActiveStateDeveloping-t-rect-0-0 {
position: absolute !important;
top: 0px;
left: 0px;
width: 1920px;
height: 1080px;
pointer-events: auto;
}

.t-l-c-gztActiveStateDeveloping .gztActiveStateDeveloping-t-rect-0-1 {
position: absolute !important;
top: 185px;
left: 708px;
width: 1190px;
height: 883px;
pointer-events: auto;
}

.t-l-c-gztActiveStateDeveloping .gztActiveStateDeveloping-t-iframe-0-3 {
position: absolute !important;
top: -1px;
left: -5px;
width: 1922px;
height: 1082px;
pointer-events: auto;
}

.t-l-c-gztActiveStateDeveloping .gztActiveStateDeveloping-t-component-0-4 {
position: absolute !important;
top: 106px;
left: 17px;
width: 1888px;
height: 62px;
pointer-events: auto;
}

.t-l-c-gztActiveStateDeveloping .gztActiveStateDeveloping-t-rect-0-5 {
position: absolute !important;
top: 144px;
left: -3px;
width: 1921px;
height: 933px;
pointer-events: auto;
}

.t-l-c-gztActiveStateDeveloping .gztActiveStateDeveloping-t-text-common-0-6 {
position: absolute !important;
top: 477px;
left: 854px;
width: 213px;
height: 113px;
pointer-events: auto;
}
