.t-l-c-lyxqRhpwkDialog {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: none;
position: Relative;
z-index: 1;
filter: ;
width: 1920px;
height: 1080px;
background-color: rgba(255, 255, 255, 0);
left: 50%;
top: 50%;
transform: translateX(-50%) translateY(-50%);
}
.t-l-c-lyxqRhpwkDialog .lyxqRhpwkDialog-t-rect-0-0 {
position: absolute !important;
top: 308px;
left: 735px;
width: 450px;
height: 464px;
pointer-events: auto;
}

.t-l-c-lyxqRhpwkDialog .lyxqRhpwkDialog-t-rect-0-1 {
position: absolute !important;
top: 308px;
left: 735px;
width: 450px;
height: 47px;
pointer-events: auto;
}

.t-l-c-lyxqRhpwkDialog .lyxqRhpwkDialog-t-text-0-2 {
position: absolute !important;
top: 321px;
left: 759px;
width: 359px;
height: 21px;
pointer-events: auto;
}

.t-l-c-lyxqRhpwkDialog .lyxqRhpwkDialog-t-rect-0-3 {
position: absolute !important;
top: 318px;
left: 1137px;
width: 24px;
height: 24px;
pointer-events: auto;
}

.t-l-c-lyxqRhpwkDialog .lyxqRhpwkDialog-t-rect-0-4 {
position: absolute !important;
top: 718px;
left: 735px;
width: 449px;
height: 52px;
pointer-events: auto;
}

.t-l-c-lyxqRhpwkDialog .lyxqRhpwkDialog-t-text-0-5 {
position: absolute !important;
top: 731px;
left: 861px;
width: 90px;
height: 28px;
pointer-events: auto;
}

.t-l-c-lyxqRhpwkDialog .lyxqRhpwkDialog-t-text-0-6 {
position: absolute !important;
top: 731px;
left: 969px;
width: 90px;
height: 28px;
pointer-events: auto;
}

.t-l-c-lyxqRhpwkDialog .lyxqRhpwkDialog-t-text-0-7 {
position: absolute !important;
top: 731px;
left: 1078px;
width: 90px;
height: 28px;
pointer-events: auto;
}

.t-l-c-lyxqRhpwkDialog .lyxqRhpwkDialog-t-list-card-0-8 {
position: absolute !important;
top: 374px;
left: 755px;
width: 412px;
height: 328px;
pointer-events: auto;
}
