.t-l-c-airOverviewSiteRealtimeContent {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 788px;
height: 336px;
background-color: rgba(0,0,0,0);
}
.t-l-c-airOverviewSiteRealtimeContent .airOverviewSiteRealtimeContent-t-trace-path-0-0 {
position: absolute !important;
top: 59px;
left: 284px;
width: 206px;
height: 206px;
pointer-events: auto;
}

.t-l-c-airOverviewSiteRealtimeContent .airOverviewSiteRealtimeContent-t-trace-path-0-1 {
position: absolute !important;
top: 59px;
left: 284px;
width: 206px;
height: 206px;
pointer-events: auto;
}

.t-l-c-airOverviewSiteRealtimeContent .airOverviewSiteRealtimeContent-t-trace-path-0-2 {
position: absolute !important;
top: 59px;
left: 284px;
width: 206px;
height: 206px;
pointer-events: auto;
}

.t-l-c-airOverviewSiteRealtimeContent .airOverviewSiteRealtimeContent-t-trace-path-0-3 {
position: absolute !important;
top: 59px;
left: 284px;
width: 206px;
height: 206px;
pointer-events: auto;
}

.t-l-c-airOverviewSiteRealtimeContent .airOverviewSiteRealtimeContent-t-trace-path-0-4 {
position: absolute !important;
top: 59px;
left: 284px;
width: 206px;
height: 206px;
pointer-events: auto;
}

.t-l-c-airOverviewSiteRealtimeContent .airOverviewSiteRealtimeContent-t-trace-path-0-5 {
position: absolute !important;
top: 59px;
left: 284px;
width: 206px;
height: 206px;
pointer-events: auto;
}

.t-l-c-airOverviewSiteRealtimeContent .airOverviewSiteRealtimeContent-t-trace-path-0-6 {
position: absolute !important;
top: 59px;
left: 284px;
width: 206px;
height: 206px;
pointer-events: auto;
}

.t-l-c-airOverviewSiteRealtimeContent .airOverviewSiteRealtimeContent-t-rect-0-7 {
position: absolute !important;
top: 8px;
left: 234px;
width: 314px;
height: 314px;
pointer-events: auto;
}

.t-l-c-airOverviewSiteRealtimeContent .airOverviewSiteRealtimeContent-t-list-card-0-8 {
position: absolute !important;
top: 134px;
left: 325px;
width: 132px;
height: 36px;
pointer-events: auto;
}

.t-l-c-airOverviewSiteRealtimeContent .airOverviewSiteRealtimeContent-t-list-card-0-9 {
position: absolute !important;
top: 236px;
left: 477.5px;
width: 263px;
height: 79px;
pointer-events: auto;
}

.t-l-c-airOverviewSiteRealtimeContent .airOverviewSiteRealtimeContent-t-list-card-0-10 {
position: absolute !important;
top: 236px;
left: 477.5px;
width: 263px;
height: 79px;
pointer-events: auto;
}

.t-l-c-airOverviewSiteRealtimeContent .airOverviewSiteRealtimeContent-t-list-card-0-11 {
position: absolute !important;
top: 236px;
left: 477.5px;
width: 263px;
height: 79px;
pointer-events: auto;
}

.t-l-c-airOverviewSiteRealtimeContent .airOverviewSiteRealtimeContent-t-list-card-0-12 {
position: absolute !important;
top: 119px;
left: 520px;
width: 263px;
height: 79px;
pointer-events: auto;
}

.t-l-c-airOverviewSiteRealtimeContent .airOverviewSiteRealtimeContent-t-list-card-0-14 {
position: absolute !important;
top: 236px;
left: 57px;
width: 263px;
height: 79px;
pointer-events: auto;
}

.t-l-c-airOverviewSiteRealtimeContent .airOverviewSiteRealtimeContent-t-list-card-0-15 {
position: absolute !important;
top: 119px;
left: 3px;
width: 263px;
height: 79px;
pointer-events: auto;
}

.t-l-c-airOverviewSiteRealtimeContent .airOverviewSiteRealtimeContent-t-list-card-0-16 {
position: absolute !important;
top: 2px;
left: 479px;
width: 263px;
height: 79px;
pointer-events: auto;
}

.t-l-c-airOverviewSiteRealtimeContent .airOverviewSiteRealtimeContent-t-list-card-0-17 {
position: absolute !important;
top: 2px;
left: 57px;
width: 263px;
height: 79px;
pointer-events: auto;
}

.t-l-c-airOverviewSiteRealtimeContent .airOverviewSiteRealtimeContent-t-text-0-18 {
position: absolute !important;
top: 175px;
left: 325px;
width: 132px;
height: var(--business-text-size-14);
pointer-events: auto;
}
