.t-l-c-girdPersonList {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Absolute;
z-index: 1;
filter: ;
width: 410px;
height: 775px;
background-color: rgba(0, 0, 0, 0);
}
.t-l-c-girdPersonList .girdPersonList-t-search-0-0 {
position: absolute !important;
top: 0px;
left: 0px;
width: 346px;
height: 33px;
pointer-events: auto;
}

.t-l-c-girdPersonList .girdPersonList-t-table-0-1 {
position: absolute !important;
top: 45px;
left: 0px;
width: 410px;
height: 645px;
pointer-events: auto;
}

.t-l-c-girdPersonList .girdPersonList-t-button-0-2 {
position: absolute !important;
top: 0px;
left: 359px;
width: 51px;
height: 32px;
pointer-events: auto;
}

.t-l-c-girdPersonList .girdPersonList-t-pagination-base-0-3 {
position: absolute !important;
top: 730px;
left: 0px;
width: 403px;
height: 32px;
pointer-events: auto;
}
