.t-l-c-mainRoadOverviewSite {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 1920px;
height: 1080px;
background-color: rgba(0,0,0,0);
}
.t-l-c-mainRoadOverviewSite .mainRoadOverviewSite-t-rect-0-0 {
position: absolute !important;
top: 197px;
left: 468px;
width: 1000px;
height: 712px;
pointer-events: auto;
}

.t-l-c-mainRoadOverviewSite .mainRoadOverviewSite-t-text-0-1 {
position: absolute !important;
top: 263px;
left: 492px;
width: 120px;
height: 32px;
pointer-events: auto;
}

.t-l-c-mainRoadOverviewSite .mainRoadOverviewSite-t-text-0-2 {
position: absolute !important;
top: 300px;
left: 492px;
width: 120px;
height: 32px;
pointer-events: auto;
}

.t-l-c-mainRoadOverviewSite .mainRoadOverviewSite-t-rect-0-3 {
position: absolute !important;
top: 197px;
left: 468px;
width: 1000px;
height: 47px;
pointer-events: auto;
}

.t-l-c-mainRoadOverviewSite .mainRoadOverviewSite-t-text-0-4 {
position: absolute !important;
top: 211px;
left: 487px;
width: 194px;
height: 19px;
pointer-events: auto;
}

.t-l-c-mainRoadOverviewSite .mainRoadOverviewSite-t-rect-0-5 {
position: absolute !important;
top: 208px;
left: 1420px;
width: 24px;
height: 24px;
pointer-events: auto;
}

.t-l-c-mainRoadOverviewSite .mainRoadOverviewSite-t-text-0-6 {
position: absolute !important;
top: 263px;
left: 1093px;
width: 355px;
height: 32px;
pointer-events: auto;
}

.t-l-c-mainRoadOverviewSite .mainRoadOverviewSite-t-text-0-7 {
position: absolute !important;
top: 300px;
left: 1093px;
width: 355px;
height: 32px;
pointer-events: auto;
}

.t-l-c-mainRoadOverviewSite .mainRoadOverviewSite-t-text-0-8 {
position: absolute !important;
top: 263px;
left: 971px;
width: 120px;
height: 32px;
pointer-events: auto;
}

.t-l-c-mainRoadOverviewSite .mainRoadOverviewSite-t-text-0-9 {
position: absolute !important;
top: 300px;
left: 971px;
width: 120px;
height: 32px;
pointer-events: auto;
}

.t-l-c-mainRoadOverviewSite .mainRoadOverviewSite-t-text-0-10 {
position: absolute !important;
top: 263px;
left: 614px;
width: 355px;
height: 32px;
pointer-events: auto;
}

.t-l-c-mainRoadOverviewSite .mainRoadOverviewSite-t-text-0-11 {
position: absolute !important;
top: 300px;
left: 614px;
width: 355px;
height: 32px;
pointer-events: auto;
}

.t-l-c-mainRoadOverviewSite .mainRoadOverviewSite-t-checkbox-0-12 {
position: absolute !important;
top: 350px;
left: 562px;
width: 886px;
height: 44px;
pointer-events: auto;
}

.t-l-c-mainRoadOverviewSite .mainRoadOverviewSite-t-checkbox-0-13 {
position: absolute !important;
top: 382px;
left: 562px;
width: 955px;
height: 51px;
pointer-events: auto;
}

.t-l-c-mainRoadOverviewSite .mainRoadOverviewSite-t-checkbox-0-14 {
position: absolute !important;
top: 416px;
left: 562px;
width: 954px;
height: 52px;
pointer-events: auto;
}

.t-l-c-mainRoadOverviewSite .mainRoadOverviewSite-t-checkbox-0-15 {
position: absolute !important;
top: 447px;
left: 562px;
width: 904px;
height: 52px;
pointer-events: auto;
}

.t-l-c-mainRoadOverviewSite .mainRoadOverviewSite-t-tabs-base-0-16 {
position: absolute !important;
top: 479px;
left: 492px;
width: 183px;
height: 32px;
pointer-events: auto;
}

.t-l-c-mainRoadOverviewSite .mainRoadOverviewSite-t-chart-design-0-17 {
position: absolute !important;
top: 536px;
left: 494px;
width: 954px;
height: 333px;
pointer-events: auto;
}

.t-l-c-mainRoadOverviewSite .mainRoadOverviewSite-t-text-0-18 {
position: absolute !important;
top: 350px;
left: 517px;
width: 62px;
height: 19px;
pointer-events: auto;
}

.t-l-c-mainRoadOverviewSite .mainRoadOverviewSite-t-text-0-19 {
position: absolute !important;
top: 382px;
left: 485px;
width: 96px;
height: 19px;
pointer-events: auto;
}

.t-l-c-mainRoadOverviewSite .mainRoadOverviewSite-t-text-0-20 {
position: absolute !important;
top: 416px;
left: 501px;
width: 96px;
height: 19px;
pointer-events: auto;
}

.t-l-c-mainRoadOverviewSite .mainRoadOverviewSite-t-text-0-21 {
position: absolute !important;
top: 447px;
left: 516px;
width: 53px;
height: 19px;
pointer-events: auto;
}
