.t-l-c-airOverviewExceedStandard {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 1920px;
height: 1080px;
background-color: rgba(0,0,0,0);
}
.t-l-c-airOverviewExceedStandard .airOverviewExceedStandard-t-rect-0-0 {
position: absolute !important;
top: 184px;
left: 460px;
width: 1000px;
height: 712px;
pointer-events: auto;
}

.t-l-c-airOverviewExceedStandard .airOverviewExceedStandard-t-rect-0-1 {
position: absolute !important;
top: 184px;
left: 460px;
width: 1000px;
height: 47px;
pointer-events: auto;
}

.t-l-c-airOverviewExceedStandard .airOverviewExceedStandard-t-text-0-2 {
position: absolute !important;
top: 198px;
left: 479px;
width: 194px;
height: 19px;
pointer-events: auto;
}

.t-l-c-airOverviewExceedStandard .airOverviewExceedStandard-t-rect-0-3 {
position: absolute !important;
top: 195px;
left: 1412px;
width: 24px;
height: 24px;
pointer-events: auto;
}

.t-l-c-airOverviewExceedStandard .airOverviewExceedStandard-t-table-0-4 {
position: absolute !important;
top: 337px;
left: 480px;
width: 960px;
height: 500px;
pointer-events: auto;
}

.t-l-c-airOverviewExceedStandard .airOverviewExceedStandard-t-select-0-5 {
position: absolute !important;
top: 245px;
left: 484px;
width: 195px;
height: 32px;
pointer-events: auto;
}

.t-l-c-airOverviewExceedStandard .airOverviewExceedStandard-t-rect-0-6 {
position: absolute !important;
top: 286px;
left: 1385px;
width: 54px;
height: 32px;
pointer-events: auto;
}

.t-l-c-airOverviewExceedStandard .airOverviewExceedStandard-t-pagination-base-0-7 {
position: absolute !important;
top: 840px;
left: 490px;
width: 857px;
height: 24px;
pointer-events: auto;
}

.t-l-c-airOverviewExceedStandard .airOverviewExceedStandard-t-date-picker-0-8 {
position: absolute !important;
top: 244px;
left: 805px;
width: 300px;
height: 32px;
pointer-events: auto;
}

.t-l-c-airOverviewExceedStandard .airOverviewExceedStandard-t-tabs-base-0-9 {
position: absolute !important;
top: 244px;
left: 692px;
width: 100px;
height: 32px;
pointer-events: auto;
}

.t-l-c-airOverviewExceedStandard .airOverviewExceedStandard-t-date-picker-0-10 {
position: absolute !important;
top: 244px;
left: 805px;
width: 300px;
height: 32px;
pointer-events: auto;
}

.t-l-c-airOverviewExceedStandard .airOverviewExceedStandard-t-search-0-11 {
position: absolute !important;
top: 286px;
left: 1179px;
width: 195px;
height: 32px;
pointer-events: auto;
}

.t-l-c-airOverviewExceedStandard .airOverviewExceedStandard-t-checkbox-0-12 {
position: absolute !important;
top: 291px;
left: 560px;
width: 580px;
height: 20px;
pointer-events: auto;
}

.t-l-c-airOverviewExceedStandard .airOverviewExceedStandard-t-text-0-13 {
position: absolute !important;
top: 291px;
left: 486px;
width: 96px;
height: 19px;
pointer-events: auto;
}
