.t-l-c-rightFullDirectionalService {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 400px;
height: 262px;
background-color: rgba(26, 27, 31, 0);
}
.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-gradient-shadow-text-0-1 {
position: absolute !important;
top: 15px;
left: 43px;
width: 135px;
height: 31px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rect-0-2 {
position: absolute !important;
top: 0px;
left: 0px;
width: 400px;
height: 50px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rect-0-3 {
position: absolute !important;
top: 5px;
left: 12px;
width: 118px;
height: 45px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-text-0-4 {
position: absolute !important;
top: 171px;
left: 283px;
width: 97px;
height: 20px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-text-0-5 {
position: absolute !important;
top: 170px;
left: 11px;
width: 97px;
height: 20px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-text-0-6 {
position: absolute !important;
top: 65.99999764960936px;
left: 282.8701136294034px;
width: 65.57142857142857px;
height: 20px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-row-0-7 {
position: absolute !important;
top: 197px;
left: 281px;
width: 135px;
height: 26px;
pointer-events: auto;
letter-spacing: 0px;
animation-name: ;
font-weight: 600;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-text-0-7-0 {
position: unset;
top: 199.8696988549067px;
left: 1490.5461217758966px;
width: auto;
height: auto;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rolling-number-0-7-1 {
position: unset;
top: 32.91640092196394px;
left: 189.1631922918474px;
width: auto;
height: 24px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-row-0-8 {
position: absolute !important;
top: 225px;
left: 282px;
width: 135px;
height: 26px;
pointer-events: auto;
letter-spacing: 0px;
animation-name: ;
font-weight: 600;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-text-0-8-0 {
position: unset;
top: 238.38487078624684px;
left: 1504.6864636305563px;
width: auto;
height: auto;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rolling-number-0-8-1 {
position: unset;
top: 71.43157285330409px;
left: 203.30353414650716px;
width: auto;
height: 24px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-row-0-9 {
position: absolute !important;
top: 196px;
left: 9px;
width: 135px;
height: 26px;
pointer-events: auto;
letter-spacing: 0px;
animation-name: ;
font-weight: 600;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-text-0-9-0 {
position: unset;
top: 76.69901319274305px;
left: 1140.3851628651514px;
width: auto;
height: auto;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rolling-number-0-9-1 {
position: unset;
top: -90.2542847401997px;
left: -160.9977666188979px;
width: auto;
height: 24px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-row-0-10 {
position: absolute !important;
top: 224px;
left: 10px;
width: 135px;
height: 26px;
pointer-events: auto;
letter-spacing: 0px;
animation-name: ;
font-weight: 600;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-text-0-10-0 {
position: unset;
top: 115.2141851240832px;
left: 1154.5255047198111px;
width: auto;
height: auto;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rolling-number-0-10-1 {
position: unset;
top: -51.739112808859545px;
left: -146.85742476423815px;
width: auto;
height: 24px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-row-0-11 {
position: absolute !important;
top: 119.99999764960936px;
left: 281.87660713589696px;
width: 134.12337662337663px;
height: 25.999999999999996px;
pointer-events: auto;
letter-spacing: 0px;
animation-name: ;
font-weight: 600;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-text-0-11-0 {
position: unset;
top: -8.043534206688491px;
left: 1651.6104883709004px;
width: auto;
height: auto;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rolling-number-0-11-1 {
position: unset;
top: -174.99683213963124px;
left: 350.227558886851px;
width: auto;
height: 24px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rect-0-12 {
position: absolute !important;
top: 165px;
left: 263px;
width: 34px;
height: 34px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rect-0-13 {
position: absolute !important;
top: 164px;
left: -9px;
width: 34px;
height: 34px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rect-0-14 {
position: absolute !important;
top: 233px;
left: 268px;
width: 143px;
height: 25px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rect-0-15 {
position: absolute !important;
top: 232px;
left: -4px;
width: 143px;
height: 25px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-row-0-16 {
position: absolute !important;
top: 91.99999764960936px;
left: 280.88313096180246px;
width: 134.12334630396458px;
height: 25.999999999999996px;
pointer-events: auto;
letter-spacing: 0px;
animation-name: ;
font-weight: 600;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-text-0-16-0 {
position: unset;
top: -46.55870613802864px;
left: 1637.4701465162407px;
width: auto;
height: auto;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rolling-number-0-16-1 {
position: unset;
top: -213.5120040709714px;
left: 336.08721703219123px;
width: auto;
height: 24px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rect-0-17 {
position: absolute !important;
top: 59.99999529921871px;
left: 263.0000283414063px;
width: 33.779190459808746px;
height: 34px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rect-0-18 {
position: absolute !important;
top: 128px;
left: 268px;
width: 143px;
height: 25px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-text-0-19 {
position: absolute !important;
top: 66px;
left: 11px;
width: 114px;
height: 20px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-row-0-20 {
position: absolute !important;
top: 120px;
left: 10px;
width: 135px;
height: 26px;
pointer-events: auto;
letter-spacing: 0px;
animation-name: ;
font-weight: 600;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-text-0-20-0 {
position: unset;
top: -27.531530135717105px;
left: 1324.5232713387093px;
width: auto;
height: auto;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rolling-number-0-20-1 {
position: unset;
top: -194.48482806865985px;
left: 23.140341854659763px;
width: auto;
height: 24px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-row-0-21 {
position: absolute !important;
top: 92px;
left: 9px;
width: 135px;
height: 26px;
pointer-events: auto;
letter-spacing: 0px;
animation-name: ;
font-weight: 600;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-text-0-21-0 {
position: unset;
top: -66.04670206705725px;
left: 1310.3829294840496px;
width: auto;
height: auto;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rolling-number-0-21-1 {
position: unset;
top: -233px;
left: 9px;
width: auto;
height: 24px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rect-0-22 {
position: absolute !important;
top: 119px;
left: 135px;
width: 130px;
height: 130px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rect-0-23 {
position: absolute !important;
top: 210px;
left: 139px;
width: 130px;
height: 36px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rect-0-24 {
position: absolute !important;
top: 119px;
left: 135px;
width: 130px;
height: 130px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-row-0-25 {
position: absolute !important;
top: 210px;
left: 139px;
width: 130px;
height: 36px;
pointer-events: auto;
letter-spacing: 0px;
animation-name: ;
font-weight: 600;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rolling-number-0-25-0 {
position: unset;
top: -507.6000061035156px;
left: 1240.478515625px;
width: auto;
height: 24px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rect-0-26 {
position: absolute !important;
top: 115px;
left: 135px;
width: 130px;
height: 130px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rect-0-27 {
position: absolute !important;
top: 34px;
left: 135px;
width: 130px;
height: 130px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rect-0-28 {
position: absolute !important;
top: 114px;
left: 135px;
width: 130px;
height: 130px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rect-0-29 {
position: absolute !important;
top: 34px;
left: 135px;
width: 130px;
height: 130px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rect-0-30 {
position: absolute !important;
top: 30px;
left: 135px;
width: 130px;
height: 130px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rect-0-31 {
position: absolute !important;
top: 112px;
left: 167px;
width: 66px;
height: 66px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rect-0-32 {
position: absolute !important;
top: 30px;
left: 135px;
width: 130px;
height: 130px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rect-0-33 {
position: absolute !important;
top: 128px;
left: 148px;
width: 26px;
height: 26px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rect-0-34 {
position: absolute !important;
top: 128px;
left: 227px;
width: 26px;
height: 26px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rect-0-35 {
position: absolute !important;
top: 87px;
left: 156px;
width: 88px;
height: 110px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rect-0-36 {
position: absolute !important;
top: 60px;
left: -9px;
width: 34px;
height: 34px;
pointer-events: auto;
}

.t-l-c-rightFullDirectionalService .rightFullDirectionalService-t-rect-0-37 {
position: absolute !important;
top: 128px;
left: -4px;
width: 143px;
height: 25px;
pointer-events: auto;
}

@keyframes custom0eab718ba2f9c {

0% {
transform: perspective(900px) translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
20%;
}
50% {
transform: perspective(900px) translateX(50px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
100% {
transform: perspective(900px) translateX(100px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
20%;
}
}
@keyframes custome894a3c311b97 {

0% {
transform: perspective(900px) translateX(0px) translateY(0px) translateZ(0px) rotateX(70deg) rotateY(0deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
100% {
transform: perspective(900px) translateX(0px) translateY(0px) translateZ(0px) rotateX(70deg) rotateY(0deg) rotateZ(360deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
}
@keyframes customc91acde38a9dd {

0% {
transform: perspective(900px) translateX(0px) translateY(0px) translateZ(0px) rotateX(70deg) rotateY(0deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
100% {
transform: perspective(900px) translateX(0px) translateY(0px) translateZ(0px) rotateX(70deg) rotateY(0deg) rotateZ(-360deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
}
@keyframes custom891d9cd207e4 {

0% {
transform: perspective(900px) translateX(0px) translateY(0px) translateZ(0px) rotateX(70deg) rotateY(0deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
100% {
transform: perspective(900px) translateX(0px) translateY(0px) translateZ(0px) rotateX(70deg) rotateY(0deg) rotateZ(-360deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
}
@keyframes custom19500dd7c9e1d {

0% {
transform: perspective(900px) translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
100% {
transform: perspective(900px) translateX(0px) translateY(-2px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
}
@keyframes custom125e74f97e6f2 {

0% {
transform: perspective(900px) translateX(0px) translateY(0px) translateZ(0px) rotateX(70deg) rotateY(0deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
100% {
transform: perspective(900px) translateX(0px) translateY(0px) translateZ(0px) rotateX(70deg) rotateY(0deg) rotateZ(360deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
}
@keyframes custom8dc5212f1384a {

0% {
transform: perspective(900px) translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
100% {
transform: perspective(900px) translateX(4px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
}
@keyframes custom225d02644b162 {

0% {
transform: perspective(900px) translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(180deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
100% {
transform: perspective(900px) translateX(4px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(180deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
}