.t-l-c-historyTask {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 1000px;
height: 700px;
background-color: rgba(0,0,0,0);
}
.t-l-c-historyTask .historyTask-t-row-0-0 {
position: absolute !important;
top: 0px;
left: 0px;
width: 100%;
height: 32px;
pointer-events: auto;
display: flex;
justify-content: left;
align-items: center;
}

.t-l-c-historyTask .historyTask-t-col-0-0-0 {
position: relative;
top: null;
left: null;
width: auto;
height: 100%;
pointer-events: auto;
display: flex;
justify-content: left;
align-items: center;
background-color: var(--business-show-bg30);
padding-top: 30px;
padding-bottom: 30px;
padding-left: 30px;
}

.t-l-c-historyTask .historyTask-t-text-common-0-0-0-0 {
position: unset;
top: 132px;
left: 41px;
width: auto;
height: 20px;
pointer-events: auto;
}

.t-l-c-historyTask .historyTask-t-select-0-0-0-1 {
position: unset;
top: -39px;
left: 278px;
width: 120px;
height: 32px;
pointer-events: auto;
}

.t-l-c-historyTask .historyTask-t-text-common-0-0-0-2 {
position: unset;
top: 137px;
left: 209px;
width: auto;
height: 20px;
pointer-events: auto;
}

.t-l-c-historyTask .historyTask-t-select-0-0-0-3 {
position: unset;
top: -63px;
left: 617px;
width: 120px;
height: 32px;
pointer-events: auto;
}

.t-l-c-historyTask .historyTask-t-col-0-0-1 {
position: relative;
top: null;
left: null;
width: 100px;
height: 100%;
pointer-events: auto;
display: flex;
justify-content: right;
align-items: center;
background-color: var(--business-show-bg30);
padding-top: 30px;
padding-bottom: 30px;
padding-right: 30px;
}

.t-l-c-historyTask .historyTask-t-rect-0-0-1-0 {
position: unset;
top: -84px;
left: 327px;
width: 100px;
height: 32px;
pointer-events: auto;
}

.t-l-c-historyTask .historyTask-t-rect-0-0-1-1 {
position: unset;
top: -83px;
left: 460px;
width: 67px;
height: 32px;
pointer-events: auto;
}

.t-l-c-historyTask .historyTask-t-col-0-0-2 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
}

.t-l-c-historyTask .historyTask-t-component-0-0-2-0 {
position: unset;
top: -311px;
left: 39px;
width: 100%;
height: 152px;
pointer-events: auto;
}
