.t-l-c-businessEnvironment {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 557px;
height: 206px;
background-color: rgba(0,0,0,0);
}
.t-l-c-businessEnvironment .businessEnvironment-t-rect-0-0 {
position: absolute !important;
top: 48px;
left: 0px;
width: 557px;
height: 152px;
pointer-events: auto;
}

.t-l-c-businessEnvironment .businessEnvironment-t-rect-0-1 {
position: absolute !important;
top: 126px;
left: 285px;
width: 261px;
height: 64px;
pointer-events: auto;
}

.t-l-c-businessEnvironment .businessEnvironment-t-rect-0-2 {
position: absolute !important;
top: 51px;
left: 285px;
width: 261px;
height: 64px;
pointer-events: auto;
}

.t-l-c-businessEnvironment .businessEnvironment-t-rect-0-3 {
position: absolute !important;
top: 51px;
left: 12px;
width: 261px;
height: 64px;
pointer-events: auto;
}

.t-l-c-businessEnvironment .businessEnvironment-t-rect-0-4 {
position: absolute !important;
top: 124px;
left: 12px;
width: 261px;
height: 64px;
pointer-events: auto;
}

.t-l-c-businessEnvironment .businessEnvironment-t-rect-0-5 {
position: absolute !important;
top: 7px;
left: 0px;
width: 557px;
height: 30px;
pointer-events: auto;
}

.t-l-c-businessEnvironment .businessEnvironment-t-text-common-0-6 {
position: absolute !important;
top: 4px;
left: 28px;
width: 200px;
height: 19px;
pointer-events: auto;
}

.t-l-c-businessEnvironment .businessEnvironment-t-high-light-text-0-7 {
position: absolute !important;
top: 154px;
left: 284px;
width: 261px;
height: 20px;
pointer-events: auto;
}

.t-l-c-businessEnvironment .businessEnvironment-t-high-light-text-0-8 {
position: absolute !important;
top: 79px;
left: 294px;
width: 120px;
height: 20px;
pointer-events: auto;
}

.t-l-c-businessEnvironment .businessEnvironment-t-high-light-text-0-9 {
position: absolute !important;
top: 79px;
left: 425px;
width: 120px;
height: 20px;
pointer-events: auto;
}

.t-l-c-businessEnvironment .businessEnvironment-t-high-light-text-0-10 {
position: absolute !important;
top: 79px;
left: 21px;
width: 120px;
height: 20px;
pointer-events: auto;
}

.t-l-c-businessEnvironment .businessEnvironment-t-high-light-text-0-11 {
position: absolute !important;
top: 79px;
left: 152px;
width: 120px;
height: 20px;
pointer-events: auto;
}

.t-l-c-businessEnvironment .businessEnvironment-t-high-light-text-0-12 {
position: absolute !important;
top: 152px;
left: 21px;
width: 120px;
height: 20px;
pointer-events: auto;
}

.t-l-c-businessEnvironment .businessEnvironment-t-high-light-text-0-13 {
position: absolute !important;
top: 152px;
left: 152px;
width: 120px;
height: 20px;
pointer-events: auto;
}

.t-l-c-businessEnvironment .businessEnvironment-t-text-common-0-14 {
position: absolute !important;
top: 132px;
left: 284px;
width: 261px;
height: 19px;
pointer-events: auto;
}

.t-l-c-businessEnvironment .businessEnvironment-t-text-common-0-15 {
position: absolute !important;
top: 57px;
left: 11px;
width: 261px;
height: 19px;
pointer-events: auto;
}

.t-l-c-businessEnvironment .businessEnvironment-t-text-common-0-16 {
position: absolute !important;
top: 57px;
left: 284px;
width: 261px;
height: 19px;
pointer-events: auto;
}

.t-l-c-businessEnvironment .businessEnvironment-t-text-common-0-17 {
position: absolute !important;
top: 130px;
left: 11px;
width: 261px;
height: 19px;
pointer-events: auto;
}

.t-l-c-businessEnvironment .businessEnvironment-t-rect-0-18 {
position: absolute !important;
top: 156px;
left: 150px;
width: 1px;
height: 18px;
pointer-events: auto;
}

.t-l-c-businessEnvironment .businessEnvironment-t-rect-0-19 {
position: absolute !important;
top: 83px;
left: 150px;
width: 1px;
height: 18px;
pointer-events: auto;
}

.t-l-c-businessEnvironment .businessEnvironment-t-rect-0-20 {
position: absolute !important;
top: 83px;
left: 423px;
width: 1px;
height: 18px;
pointer-events: auto;
}
