.t-l-c-dataSpaceLeftIndex {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 432px;
height: 908px;
background-color: rgba(0,0,0,0);
}
.t-l-c-dataSpaceLeftIndex .dataSpaceLeftIndex-t-rect-0-0 {
position: absolute !important;
top: 36px;
left: 2px;
width: 428px;
height: 870px;
pointer-events: auto;
}

.t-l-c-dataSpaceLeftIndex .dataSpaceLeftIndex-t-component-0-1 {
position: absolute !important;
top: 47px;
left: 16px;
width: 400px;
height: 262px;
pointer-events: auto;
}

.t-l-c-dataSpaceLeftIndex .dataSpaceLeftIndex-t-component-0-2 {
position: absolute !important;
top: 339px;
left: 16px;
width: 400px;
height: 262px;
pointer-events: auto;
}

.t-l-c-dataSpaceLeftIndex .dataSpaceLeftIndex-t-component-0-3 {
position: absolute !important;
top: 631px;
left: 16px;
width: 400px;
height: 262px;
pointer-events: auto;
}

.t-l-c-dataSpaceLeftIndex .dataSpaceLeftIndex-t-rect-0-4 {
position: absolute !important;
top: 5px;
left: 0px;
width: 432px;
height: 32px;
pointer-events: auto;
}

.t-l-c-dataSpaceLeftIndex .dataSpaceLeftIndex-t-text-0-5 {
position: absolute !important;
top: 0px;
left: 160.5px;
width: 111px;
height: 32px;
pointer-events: auto;
}
