.t-l-c-airQualityIndex {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 400px;
height: 580px;
background-color: rgba(0,0,0,0);
}
.t-l-c-airQualityIndex .airQualityIndex-t-component-0-0 {
position: absolute !important;
top: 0px;
left: 0px;
width: 400px;
height: 52px;
pointer-events: auto;
}

.t-l-c-airQualityIndex .airQualityIndex-t-gradient-shadow-text-0-1 {
position: absolute !important;
top: 15px;
left: 43px;
width: 105px;
height: 31px;
pointer-events: auto;
}

.t-l-c-airQualityIndex .airQualityIndex-t-tabs-0-2 {
position: absolute !important;
top: 15px;
left: 225px;
width: 168px;
height: 28px;
pointer-events: auto;
}

.t-l-c-airQualityIndex .airQualityIndex-t-component-0-3 {
position: absolute !important;
top: 127px;
left: 0px;
width: 400px;
height: 202px;
pointer-events: auto;
}

.t-l-c-airQualityIndex .airQualityIndex-t-component-0-4 {
position: absolute !important;
top: 338px;
left: 0px;
width: 400px;
height: 242px;
pointer-events: auto;
}

.t-l-c-airQualityIndex .airQualityIndex-t-component-0-5 {
position: absolute !important;
top: 61px;
left: 0px;
width: 400px;
height: 58px;
pointer-events: auto;
}
