.t-l-c-waterSourceQualityDetailMain {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 450px;
height: 1320px;
background-color: rgba(0,0,0,0);
}
.t-l-c-waterSourceQualityDetailMain .waterSourceQualityDetailMain-t-component-0-0 {
position: absolute !important;
top: 746px;
left: 20px;
width: 410px;
height: 31px;
pointer-events: auto;
}

.t-l-c-waterSourceQualityDetailMain .waterSourceQualityDetailMain-t-text-0-1 {
position: absolute !important;
top: 746px;
left: 60px;
width: 130px;
height: 31px;
pointer-events: auto;
}

.t-l-c-waterSourceQualityDetailMain .waterSourceQualityDetailMain-t-rect-0-2 {
position: absolute !important;
top: 0px;
left: 0px;
width: 450px;
height: 60px;
pointer-events: auto;
}

.t-l-c-waterSourceQualityDetailMain .waterSourceQualityDetailMain-t-date-picker-0-3 {
position: absolute !important;
top: 16px;
left: 16px;
width: 418px;
height: 32px;
pointer-events: auto;
}

.t-l-c-waterSourceQualityDetailMain .waterSourceQualityDetailMain-t-table-0-4 {
position: absolute !important;
top: 789px;
left: 20px;
width: 410px;
height: 228px;
pointer-events: auto;
}

.t-l-c-waterSourceQualityDetailMain .waterSourceQualityDetailMain-t-table-0-5 {
position: absolute !important;
top: 1092px;
left: 20px;
width: 410px;
height: 228px;
pointer-events: auto;
}

.t-l-c-waterSourceQualityDetailMain .waterSourceQualityDetailMain-t-list-card-0-6 {
position: absolute !important;
top: 506px;
left: 16px;
width: 418px;
height: 68px;
pointer-events: auto;
}

.t-l-c-waterSourceQualityDetailMain .waterSourceQualityDetailMain-t-component-0-7 {
position: absolute !important;
top: 84px;
left: 20px;
width: 410px;
height: 31px;
pointer-events: auto;
}

.t-l-c-waterSourceQualityDetailMain .waterSourceQualityDetailMain-t-component-0-8 {
position: absolute !important;
top: 464px;
left: 20px;
width: 410px;
height: 31px;
pointer-events: auto;
}

.t-l-c-waterSourceQualityDetailMain .waterSourceQualityDetailMain-t-text-0-9 {
position: absolute !important;
top: 84px;
left: 60px;
width: 130px;
height: 31px;
pointer-events: auto;
}

.t-l-c-waterSourceQualityDetailMain .waterSourceQualityDetailMain-t-component-0-10 {
position: absolute !important;
top: 606px;
left: 20px;
width: 410px;
height: 31px;
pointer-events: auto;
}

.t-l-c-waterSourceQualityDetailMain .waterSourceQualityDetailMain-t-text-0-11 {
position: absolute !important;
top: 606px;
left: 60px;
width: 182px;
height: 31px;
pointer-events: auto;
}

.t-l-c-waterSourceQualityDetailMain .waterSourceQualityDetailMain-t-component-0-12 {
position: absolute !important;
top: 1049px;
left: 20px;
width: 410px;
height: 31px;
pointer-events: auto;
}

.t-l-c-waterSourceQualityDetailMain .waterSourceQualityDetailMain-t-text-0-13 {
position: absolute !important;
top: 1049px;
left: 60px;
width: 130px;
height: 31px;
pointer-events: auto;
}

.t-l-c-waterSourceQualityDetailMain .waterSourceQualityDetailMain-t-text-0-14 {
position: absolute !important;
top: 469px;
left: 60px;
width: 130px;
height: 19px;
pointer-events: auto;
}

.t-l-c-waterSourceQualityDetailMain .waterSourceQualityDetailMain-t-list-card-0-15 {
position: absolute !important;
top: 127px;
left: 20px;
width: 410px;
height: 65px;
pointer-events: auto;
}

.t-l-c-waterSourceQualityDetailMain .waterSourceQualityDetailMain-t-list-card-0-16 {
position: absolute !important;
top: 649px;
left: 20px;
width: 410px;
height: 65px;
pointer-events: auto;
}
