.t-l-c-wysgjgyFylzndContent {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
filter: ;
z-index: 1;
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
width: 1600px;
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
position: Static;
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
pointer-events: auto;
height: 900px;
background-color: rgba(0,0,0,0);
}
.t-l-c-wysgjgyFylzndContent .wysgjgyFylzndContent-t-select-0-0 {
position: absolute !important;
top: 109px;
left: 1294px;
width: 268px;
height: 32px;
pointer-events: auto;
}

.t-l-c-wysgjgyFylzndContent .wysgjgyFylzndContent-t-date-picker-0-1 {
position: absolute !important;
top: 103px;
left: 31px;
width: 507px;
height: 31px;
pointer-events: auto;
}

.t-l-c-wysgjgyFylzndContent .wysgjgyFylzndContent-t-component-0-2 {
position: absolute !important;
top: 55px;
left: 16px;
width: 1552px;
height: 36px;
pointer-events: auto;
}

.t-l-c-wysgjgyFylzndContent .wysgjgyFylzndContent-t-text-common-0-3 {
position: absolute !important;
top: 62px;
left: 53px;
width: 96px;
height: 20px;
pointer-events: auto;
}

.t-l-c-wysgjgyFylzndContent .wysgjgyFylzndContent-t-tabs-base-0-4 {
position: absolute !important;
top: 106px;
left: 780px;
width: 137px;
height: 32px;
pointer-events: auto;
}

.t-l-c-wysgjgyFylzndContent .wysgjgyFylzndContent-t-chart-design-0-5 {
position: absolute !important;
top: 154px;
left: 21px;
width: 1559px;
height: 731px;
pointer-events: auto;
}

.t-l-c-wysgjgyFylzndContent .wysgjgyFylzndContent-t-row-0-6 {
position: absolute !important;
top: -2px;
left: 28px;
width: 1529px;
height: 54px;
pointer-events: auto;
display: flex;
justify-content: left;
align-items: center;
}

.t-l-c-wysgjgyFylzndContent .wysgjgyFylzndContent-t-col-0-6-0 {
position: relative;
top: null;
left: null;
width: auto;
height: 32px;
pointer-events: auto;
display: flex;
justify-content: right;
align-items: center;
animation-name: ;
background-color: var(--business-show-bg30);
}

.t-l-c-wysgjgyFylzndContent .wysgjgyFylzndContent-t-text-common-0-6-0-0 {
position: unset;
top: -44px;
left: 29px;
width: 66px;
height: 20px;
pointer-events: auto;
}

.t-l-c-wysgjgyFylzndContent .wysgjgyFylzndContent-t-col-0-6-1 {
position: relative;
top: null;
left: null;
width: auto;
height: 32px;
pointer-events: auto;
display: flex;
justify-content: left;
align-items: center;
animation-name: ;
background-color: var(--business-show-bg50);
}

.t-l-c-wysgjgyFylzndContent .wysgjgyFylzndContent-t-text-common-0-6-1-0 {
position: unset;
top: -34px;
left: 39px;
width: auto;
height: 20px;
pointer-events: auto;
}

.t-l-c-wysgjgyFylzndContent .wysgjgyFylzndContent-t-col-0-6-2 {
position: relative;
top: null;
left: null;
width: auto;
height: 32px;
pointer-events: auto;
display: flex;
justify-content: right;
align-items: center;
animation-name: ;
background-color: var(--business-show-bg30);
}

.t-l-c-wysgjgyFylzndContent .wysgjgyFylzndContent-t-text-common-0-6-2-0 {
position: unset;
top: -34px;
left: 39px;
width: 66px;
height: 20px;
pointer-events: auto;
}

.t-l-c-wysgjgyFylzndContent .wysgjgyFylzndContent-t-col-0-6-3 {
position: relative;
top: null;
left: null;
width: auto;
height: 32px;
pointer-events: auto;
display: flex;
justify-content: left;
align-items: center;
animation-name: ;
background-color: var(--business-show-bg50);
}

.t-l-c-wysgjgyFylzndContent .wysgjgyFylzndContent-t-text-common-0-6-3-0 {
position: unset;
top: -24px;
left: 49px;
width: auto;
height: 20px;
pointer-events: auto;
}

.t-l-c-wysgjgyFylzndContent .wysgjgyFylzndContent-t-col-0-6-4 {
position: relative;
top: null;
left: null;
width: auto;
height: 32px;
pointer-events: auto;
display: flex;
justify-content: right;
align-items: center;
animation-name: ;
background-color: var(--business-show-bg30);
}

.t-l-c-wysgjgyFylzndContent .wysgjgyFylzndContent-t-text-common-0-6-4-0 {
position: unset;
top: -24px;
left: 49px;
width: 66px;
height: 20px;
pointer-events: auto;
}

.t-l-c-wysgjgyFylzndContent .wysgjgyFylzndContent-t-col-0-6-5 {
position: relative;
top: null;
left: null;
width: auto;
height: 32px;
pointer-events: auto;
display: flex;
justify-content: left;
align-items: center;
background-color: var(--business-show-bg50);
}

.t-l-c-wysgjgyFylzndContent .wysgjgyFylzndContent-t-text-common-0-6-5-0 {
position: unset;
top: -14px;
left: 59px;
width: auto;
height: 20px;
pointer-events: auto;
}
