.t-l-c-keyMission {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 590px;
height: 195px;
background-color: rgba(0,0,0,0);
}
.t-l-c-keyMission .keyMission-t-rect-0-0 {
position: absolute !important;
top: 52px;
left: 0px;
width: 590px;
height: 143px;
pointer-events: auto;
}

.t-l-c-keyMission .keyMission-t-rect-0-1 {
position: absolute !important;
top: 0px;
left: 0px;
width: 590px;
height: 52px;
pointer-events: auto;
}

.t-l-c-keyMission .keyMission-t-rect-0-2 {
position: absolute !important;
top: 0px;
left: 0px;
width: 590px;
height: 52px;
pointer-events: auto;
}

.t-l-c-keyMission .keyMission-t-rect-0-3 {
position: absolute !important;
top: 17px;
left: 30px;
width: 220px;
height: 34px;
pointer-events: auto;
}

.t-l-c-keyMission .keyMission-t-rect-0-4 {
position: absolute !important;
top: -1px;
left: -1px;
width: 590px;
height: 52px;
pointer-events: auto;
}

.t-l-c-keyMission .keyMission-t-text-common-0-5 {
position: absolute !important;
top: 0px;
left: 20px;
width: 570px;
height: 52px;
pointer-events: auto;
}

.t-l-c-keyMission .keyMission-t-rect-0-6 {
position: absolute !important;
top: 10px;
left: 442px;
width: 127px;
height: 20px;
pointer-events: auto;
}

.t-l-c-keyMission .keyMission-t-rect-0-7 {
position: absolute !important;
top: 73px;
left: 19px;
width: 267px;
height: 98px;
pointer-events: auto;
}

.t-l-c-keyMission .keyMission-t-rect-0-8 {
position: absolute !important;
top: 73px;
left: 302px;
width: 267px;
height: 98px;
pointer-events: auto;
}

.t-l-c-keyMission .keyMission-t-text-common-0-9 {
position: absolute !important;
top: 108px;
left: 19px;
width: 267px;
height: 19px;
pointer-events: none;
}

.t-l-c-keyMission .keyMission-t-text-common-0-10 {
position: absolute !important;
top: 107px;
left: 302px;
width: 267px;
height: 19px;
pointer-events: none;
}
