.t-l-c-surfaceWaterQuality {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 400px;
height: 310px;
background-color: rgba(0,0,0,0);
}
.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-component-0-0 {
position: absolute !important;
top: 0px;
left: 0px;
width: 400px;
height: 52px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-rect-0-1 {
position: absolute !important;
top: 274px;
left: 5px;
width: 191px;
height: 36px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-rect-0-2 {
position: absolute !important;
top: 274px;
left: 204px;
width: 191px;
height: 36px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-gradient-shadow-text-0-3 {
position: absolute !important;
top: 15px;
left: 43px;
width: 137px;
height: 31px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-tabs-0-4 {
position: absolute !important;
top: 14px;
left: 299px;
width: 100px;
height: 28px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-list-card-0-5 {
position: absolute !important;
top: 206px;
left: 1px;
width: 398px;
height: 62px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-text-0-6 {
position: absolute !important;
top: 274px;
left: 216px;
width: 58px;
height: 36px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-text-unit-0-7 {
position: absolute !important;
top: 274px;
left: 74px;
width: 112px;
height: 36px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-text-unit-0-8 {
position: absolute !important;
top: 274px;
left: 278px;
width: 112px;
height: 36px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-rect-0-9 {
position: absolute !important;
top: 59px;
left: 5px;
width: 191px;
height: 138px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-text-0-10 {
position: absolute !important;
top: 70px;
left: 16px;
width: 148px;
height: 16px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-rect-0-11 {
position: absolute !important;
top: 59px;
left: 204px;
width: 191px;
height: 138px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-circle-0-12 {
position: absolute !important;
top: 96px;
left: 18px;
width: 92px;
height: 92px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-circle-0-13 {
position: absolute !important;
top: 96px;
left: 222px;
width: 92px;
height: 92px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-chart-pie-percent-0-14 {
position: absolute !important;
top: 98px;
left: 20px;
width: 88px;
height: 88px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-chart-pie-percent-0-15 {
position: absolute !important;
top: 98px;
left: 224px;
width: 88px;
height: 88px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-text-0-16 {
position: absolute !important;
top: 99px;
left: 128px;
width: 50px;
height: 12px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-text-0-17 {
position: absolute !important;
top: 149px;
left: 128px;
width: 50px;
height: 12px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-text-0-18 {
position: absolute !important;
top: 99px;
left: 332px;
width: 50px;
height: 12px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-rect-0-19 {
position: absolute !important;
top: 106.5px;
left: 232.5px;
width: 71px;
height: 71px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-rect-0-20 {
position: absolute !important;
top: 99px;
left: 215px;
width: 105px;
height: 86px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-text-0-21 {
position: absolute !important;
top: 149px;
left: 332px;
width: 50px;
height: 12px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-text-unit-0-22 {
position: absolute !important;
top: 118px;
left: 128px;
width: 55px;
height: 16px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-text-unit-0-23 {
position: absolute !important;
top: 168px;
left: 128px;
width: 55px;
height: 16px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-text-0-24 {
position: absolute !important;
top: 70px;
left: 220px;
width: 148px;
height: 16px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-text-unit-0-25 {
position: absolute !important;
top: 118px;
left: 332px;
width: 55px;
height: 16px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-text-unit-0-26 {
position: absolute !important;
top: 168px;
left: 332px;
width: 55px;
height: 16px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-rect-0-27 {
position: absolute !important;
top: 98px;
left: 11px;
width: 105px;
height: 86px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-rect-0-28 {
position: absolute !important;
top: 106.5px;
left: 28.5px;
width: 71px;
height: 71px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-rect-0-30 {
position: absolute !important;
top: 206px;
left: 139px;
width: 125px;
height: 62px;
pointer-events: none;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-rect-0-31 {
position: absolute !important;
top: 206px;
left: 272px;
width: 123px;
height: 62px;
pointer-events: none;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-rect-0-33 {
position: absolute !important;
top: 59px;
left: 204px;
width: 191px;
height: 138px;
pointer-events: none;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-text-unit-0-34 {
position: absolute !important;
top: 131px;
left: 238px;
width: 60px;
height: 20px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-text-unit-0-35 {
position: absolute !important;
top: 131px;
left: 34px;
width: 60px;
height: 20px;
pointer-events: auto;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-rect-0-36 {
position: absolute !important;
top: 274px;
left: 204px;
width: 191px;
height: 36px;
pointer-events: none;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-rect-0-37 {
position: absolute !important;
top: 274px;
left: 5px;
width: 191px;
height: 36px;
pointer-events: none;
}

.t-l-c-surfaceWaterQuality .surfaceWaterQuality-t-text-0-38 {
position: absolute !important;
top: 274px;
left: 12px;
width: 58px;
height: 36px;
pointer-events: auto;
}

@keyframes customa7eee3e28af38 {

0% {
transform: perspective(900px) translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
0% {
transform: perspective(900px) translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
}
@keyframes custom2454ba16dd9c1 {

0% {
transform: perspective(900px) translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
0% {
transform: perspective(900px) translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
}