.t-l-c-waterFunctionalDetailsContent {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 450px;
height: 425px;
background-color: rgba(0,0,0,0);
}
.t-l-c-waterFunctionalDetailsContent .waterFunctionalDetailsContent-t-table-0-0 {
position: absolute !important;
top: 889px;
left: 20px;
width: 410px;
height: 342px;
pointer-events: auto;
}

.t-l-c-waterFunctionalDetailsContent .waterFunctionalDetailsContent-t-table-0-1 {
position: absolute !important;
top: 472px;
left: 20px;
width: 410px;
height: 342px;
pointer-events: auto;
}

.t-l-c-waterFunctionalDetailsContent .waterFunctionalDetailsContent-t-component-0-2 {
position: absolute !important;
top: 846px;
left: 20px;
width: 410px;
height: 31px;
pointer-events: auto;
}

.t-l-c-waterFunctionalDetailsContent .waterFunctionalDetailsContent-t-text-0-3 {
position: absolute !important;
top: 851px;
left: 60px;
width: 130px;
height: 19px;
pointer-events: auto;
}

.t-l-c-waterFunctionalDetailsContent .waterFunctionalDetailsContent-t-component-0-4 {
position: absolute !important;
top: 429px;
left: 20px;
width: 410px;
height: 31px;
pointer-events: auto;
}

.t-l-c-waterFunctionalDetailsContent .waterFunctionalDetailsContent-t-text-0-5 {
position: absolute !important;
top: 434px;
left: 60px;
width: 278px;
height: 19px;
pointer-events: auto;
}

.t-l-c-waterFunctionalDetailsContent .waterFunctionalDetailsContent-t-rect-0-6 {
position: absolute !important;
top: 0px;
left: 0px;
width: 450px;
height: 60px;
pointer-events: auto;
}

.t-l-c-waterFunctionalDetailsContent .waterFunctionalDetailsContent-t-date-picker-0-7 {
position: absolute !important;
top: 16px;
left: 16px;
width: 418px;
height: 28px;
pointer-events: auto;
}

.t-l-c-waterFunctionalDetailsContent .waterFunctionalDetailsContent-t-table-0-8 {
position: absolute !important;
top: 472px;
left: 20px;
width: 410px;
height: 342px;
pointer-events: auto;
}

.t-l-c-waterFunctionalDetailsContent .waterFunctionalDetailsContent-t-component-0-9 {
position: absolute !important;
top: 429px;
left: 20px;
width: 410px;
height: 31px;
pointer-events: auto;
}

.t-l-c-waterFunctionalDetailsContent .waterFunctionalDetailsContent-t-text-0-10 {
position: absolute !important;
top: 434px;
left: 60px;
width: 130px;
height: 19px;
pointer-events: auto;
}

.t-l-c-waterFunctionalDetailsContent .waterFunctionalDetailsContent-t-component-0-11 {
position: absolute !important;
top: 83px;
left: 20px;
width: 410px;
height: 31px;
pointer-events: auto;
}

.t-l-c-waterFunctionalDetailsContent .waterFunctionalDetailsContent-t-text-0-12 {
position: absolute !important;
top: 88px;
left: 60px;
width: 130px;
height: 19px;
pointer-events: auto;
}

.t-l-c-waterFunctionalDetailsContent .waterFunctionalDetailsContent-t-list-card-0-13 {
position: absolute !important;
top: 127px;
left: 20px;
width: 410px;
height: 65px;
pointer-events: auto;
}
