.t-l-c-enterpriseDialog {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 1920px;
height: 1080px;
background-color: rgba(0,0,0,0);
}
.t-l-c-enterpriseDialog .enterpriseDialog-t-rect-0-0 {
position: absolute !important;
top: 194px;
left: 470px;
width: 1000px;
height: 712px;
pointer-events: auto;
}

.t-l-c-enterpriseDialog .enterpriseDialog-t-text-0-1 {
position: absolute !important;
top: 255px;
left: 490px;
width: 120px;
height: 32px;
pointer-events: auto;
}

.t-l-c-enterpriseDialog .enterpriseDialog-t-text-0-2 {
position: absolute !important;
top: 289px;
left: 1091px;
width: 355px;
height: 32px;
pointer-events: auto;
}

.t-l-c-enterpriseDialog .enterpriseDialog-t-text-0-3 {
position: absolute !important;
top: 289px;
left: 969px;
width: 120px;
height: 32px;
pointer-events: auto;
}

.t-l-c-enterpriseDialog .enterpriseDialog-t-text-0-4 {
position: absolute !important;
top: 255px;
left: 1091px;
width: 355px;
height: 32px;
pointer-events: auto;
}

.t-l-c-enterpriseDialog .enterpriseDialog-t-text-0-5 {
position: absolute !important;
top: 255px;
left: 969px;
width: 120px;
height: 32px;
pointer-events: auto;
}

.t-l-c-enterpriseDialog .enterpriseDialog-t-text-0-6 {
position: absolute !important;
top: 289px;
left: 612px;
width: 355px;
height: 32px;
pointer-events: auto;
}

.t-l-c-enterpriseDialog .enterpriseDialog-t-text-0-7 {
position: absolute !important;
top: 289px;
left: 490px;
width: 120px;
height: 32px;
pointer-events: auto;
}

.t-l-c-enterpriseDialog .enterpriseDialog-t-text-0-8 {
position: absolute !important;
top: 255px;
left: 612px;
width: 355px;
height: 32px;
pointer-events: auto;
}

.t-l-c-enterpriseDialog .enterpriseDialog-t-rect-0-9 {
position: absolute !important;
top: 343px;
left: 630px;
width: 820px;
height: 495px;
pointer-events: auto;
}

.t-l-c-enterpriseDialog .enterpriseDialog-t-component-0-10 {
position: absolute !important;
top: 358px;
left: 646px;
width: 788px;
height: 468px;
pointer-events: auto;
}

.t-l-c-enterpriseDialog .enterpriseDialog-t-rect-0-11 {
position: absolute !important;
top: 854px;
left: 470px;
width: 1000px;
height: 52px;
pointer-events: auto;
}

.t-l-c-enterpriseDialog .enterpriseDialog-t-rect-0-12 {
position: absolute !important;
top: 851px;
left: 470px;
width: 1000px;
height: 52px;
pointer-events: auto;
}

.t-l-c-enterpriseDialog .enterpriseDialog-t-text-0-13 {
position: absolute !important;
top: 866px;
left: 1350px;
width: 100px;
height: 28px;
pointer-events: auto;
}

.t-l-c-enterpriseDialog .enterpriseDialog-t-text-0-14 {
position: absolute !important;
top: 867px;
left: 1244px;
width: 100px;
height: 28px;
pointer-events: auto;
}

.t-l-c-enterpriseDialog .enterpriseDialog-t-text-0-15 {
position: absolute !important;
top: 863px;
left: 1277px;
width: 75px;
height: 28px;
pointer-events: auto;
}

.t-l-c-enterpriseDialog .enterpriseDialog-t-text-0-16 {
position: absolute !important;
top: 863px;
left: 1174px;
width: 89px;
height: 28px;
pointer-events: auto;
}

.t-l-c-enterpriseDialog .enterpriseDialog-t-text-0-17 {
position: absolute !important;
top: 863px;
left: 1364px;
width: 89px;
height: 28px;
pointer-events: auto;
}

.t-l-c-enterpriseDialog .enterpriseDialog-t-rect-0-18 {
position: absolute !important;
top: 194px;
left: 470px;
width: 1000px;
height: 47px;
pointer-events: auto;
}

.t-l-c-enterpriseDialog .enterpriseDialog-t-rect-0-19 {
position: absolute !important;
top: 205px;
left: 1422px;
width: 24px;
height: 24px;
pointer-events: auto;
}

.t-l-c-enterpriseDialog .enterpriseDialog-t-rect-0-21 {
position: absolute !important;
top: 343px;
left: 490px;
width: 121px;
height: 495px;
pointer-events: auto;
}

.t-l-c-enterpriseDialog .enterpriseDialog-t-row-0-22 {
position: absolute !important;
top: 197px;
left: 489px;
width: 885px;
height: 41px;
pointer-events: auto;
white-space: nowrap;
text-overflow: ellipsis;
animation-name: ;
}

.t-l-c-enterpriseDialog .enterpriseDialog-t-text-0-22-0 {
position: unset;
top: -169px;
left: 517px;
width: auto;
height: 19px;
pointer-events: auto;
}

.t-l-c-enterpriseDialog .enterpriseDialog-t-tabs-0-27 {
position: absolute !important;
top: 335px;
left: 491px;
width: 121px;
height: 404px;
pointer-events: auto;
}
