.t-l-c-gztRightKqzlbj {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 1190px;
height: 456px;
background-color: rgba(0,0,0,0);
}
.t-l-c-gztRightKqzlbj .gztRightKqzlbj-t-rect-0-0 {
position: absolute !important;
top: 0px;
left: 0px;
width: 1190px;
height: 456px;
pointer-events: auto;
}

.t-l-c-gztRightKqzlbj .gztRightKqzlbj-t-rect-0-1 {
position: absolute !important;
top: 0px;
left: 0px;
width: 1190px;
height: 46px;
pointer-events: auto;
}

.t-l-c-gztRightKqzlbj .gztRightKqzlbj-t-date-picker-0-2 {
position: absolute !important;
top: 63px;
left: 665px;
width: 503px;
height: 32px;
pointer-events: auto;
}

.t-l-c-gztRightKqzlbj .gztRightKqzlbj-t-text-common-0-3 {
position: absolute !important;
top: 69px;
left: 619px;
width: 44px;
height: 20px;
pointer-events: auto;
}

.t-l-c-gztRightKqzlbj .gztRightKqzlbj-t-table-0-4 {
position: absolute !important;
top: 120.5px;
left: 17px;
width: 1159px;
height: 315px;
pointer-events: auto;
}

.t-l-c-gztRightKqzlbj .gztRightKqzlbj-t-table-0-5 {
position: absolute !important;
top: 120.5px;
left: 17px;
width: 1159px;
height: 315px;
pointer-events: auto;
}

.t-l-c-gztRightKqzlbj .gztRightKqzlbj-t-line-0-6 {
position: absolute !important;
top: 105px;
left: 18px;
width: 1157px;
height: 1px;
pointer-events: auto;
}

.t-l-c-gztRightKqzlbj .gztRightKqzlbj-t-image-base-0-7 {
position: absolute !important;
top: 10px;
left: 12px;
width: 16px;
height: 26px;
pointer-events: auto;
}

.t-l-c-gztRightKqzlbj .gztRightKqzlbj-t-text-common-0-8 {
position: absolute !important;
top: 8px;
left: 36px;
width: 170px;
height: 30px;
pointer-events: auto;
}

.t-l-c-gztRightKqzlbj .gztRightKqzlbj-t-tabs-base-0-9 {
position: absolute !important;
top: 62px;
left: 18px;
width: 572px;
height: 32px;
pointer-events: auto;
}

.t-l-c-gztRightKqzlbj .gztRightKqzlbj-t-component-0-10 {
position: absolute !important;
top: 121px;
left: 16px;
width: 1159px;
height: 315px;
pointer-events: auto;
}
