.t-l-c-airPollutionContribution {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
height: 492px;
background-color: rgba(0, 3, 53, 0);
width: 410px;
}
.t-l-c-airPollutionContribution .airPollutionContribution-t-tabs-base-0-0 {
position: absolute !important;
top: 0px;
left: 0px;
width: 130px;
height: 32px;
pointer-events: auto;
}

.t-l-c-airPollutionContribution .airPollutionContribution-t-tabs-base-0-1 {
position: absolute !important;
top: 0px;
left: 140px;
width: 270px;
height: 32px;
pointer-events: auto;
}

.t-l-c-airPollutionContribution .airPollutionContribution-t-chart-pie-border-0-4 {
position: absolute !important;
top: 57px;
left: 0px;
width: 410px;
height: 264px;
pointer-events: auto;
}

.t-l-c-airPollutionContribution .airPollutionContribution-t-rect-0-5 {
position: absolute !important;
top: 104px;
left: -4px;
width: 170px;
height: 170px;
pointer-events: auto;
}
