.t-l-c-mainContainer {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Relative;
top: 0;
z-index: 1;
filter: ;
width: 1920px;
height: 1080px;
background-color: rgba(0,0,0,0);
}
.t-l-c-mainContainer .mainContainer-t-component-0-1 {
position: absolute !important;
top: 0px;
left: 0px;
width: 1920px;
height: 1080px;
pointer-events: auto;
}

.t-l-c-mainContainer .mainContainer-t-component-0-2 {
position: absolute !important;
top: 984px;
left: 10px;
width: 0px;
height: 0px;
pointer-events: auto;
}

.t-l-c-mainContainer .mainContainer-t-component-0-4 {
position: absolute !important;
top: 192px;
left: 31px;
width: 222px;
height: 533px;
pointer-events: auto;
}

.t-l-c-mainContainer .mainContainer-t-component-0-5 {
position: absolute !important;
top: 933px;
left: 331px;
width: 1000px;
height: 100px;
pointer-events: auto;
}

.t-l-c-mainContainer .mainContainer-t-rect-0-7 {
position: absolute !important;
top: 20px;
left: 1829px;
width: 34px;
height: 34px;
pointer-events: auto;
}

.t-l-c-mainContainer .mainContainer-t-component-0-9 {
position: absolute !important;
top: 131px;
left: 1379px;
width: 0px;
height: 894px;
pointer-events: auto;
}

.t-l-c-mainContainer .mainContainer-t-rect-0-10 {
position: absolute !important;
top: 20px;
left: 1828px;
width: 34px;
height: 34px;
pointer-events: auto;
}

.t-l-c-mainContainer .mainContainer-t-component-0-11 {
position: absolute !important;
top: 0px;
left: 0px;
width: 1920px;
height: 127px;
pointer-events: auto;
}

.t-l-c-mainContainer .mainContainer-t-component-0-12 {
position: absolute !important;
top: 0px;
left: 0px;
width: 1920px;
height: 127px;
pointer-events: auto;
}

.t-l-c-mainContainer .mainContainer-t-component-0-13 {
position: absolute !important;
top: 0px;
left: 0px;
width: 1920px;
height: 127px;
pointer-events: auto;
}

.t-l-c-mainContainer .mainContainer-t-component-0-14 {
position: absolute !important;
top: 135px;
left: 31px;
width: 600px;
height: 43px;
pointer-events: none;
}

.t-l-c-mainContainer .mainContainer-t-component-0-16 {
position: absolute !important;
top: 0px;
left: 0px;
width: 1920px;
height: 1080px;
pointer-events: auto;
}

.t-l-c-mainContainer .mainContainer-t-component-0-17 {
position: absolute !important;
top: -3px;
left: -2px;
width: 1920px;
height: 1080px;
pointer-events: auto;
}

.t-l-c-mainContainer .mainContainer-t-component-0-19 {
position: absolute !important;
top: 171px;
left: 1460px;
width: 450px;
height: 900px;
pointer-events: auto;
}

.t-l-c-mainContainer .mainContainer-t-component-0-20 {
position: absolute !important;
top: 732px;
left: 31px;
width: 260px;
height: 216px;
pointer-events: auto;
}

.t-l-c-mainContainer .mainContainer-t-component-0-21 {
position: absolute !important;
top: 96px;
left: 1410px;
width: 500px;
height: 938px;
pointer-events: none;
}

.t-l-c-mainContainer .mainContainer-t-component-0-23 {
position: absolute !important;
top: 189px;
left: 1200px;
width: 153px;
height: 34px;
pointer-events: auto;
}

.t-l-c-mainContainer .mainContainer-t-component-0-24 {
position: absolute !important;
top: 226px;
left: 756px;
width: 630px;
height: 580px;
pointer-events: none;
}

.t-l-c-mainContainer .mainContainer-t-component-0-25 {
position: absolute !important;
top: 131px;
left: 1331px;
width: 38px;
height: 34px;
pointer-events: auto;
}

.t-l-c-mainContainer .mainContainer-t-rect-0-26 {
position: absolute !important;
top: 235px;
left: 1333px;
width: 35px;
height: 35px;
pointer-events: none;
}

.t-l-c-mainContainer .mainContainer-t-component-0-27 {
position: absolute !important;
top: 200px;
left: 969px;
width: 400px;
height: 400px;
pointer-events: none;
}

.t-l-c-mainContainer .mainContainer-t-component-0-28 {
position: absolute !important;
top: 410px;
left: 1320px;
width: 38px;
height: 34px;
pointer-events: auto;
}

.t-l-c-mainContainer .mainContainer-t-component-0-30 {
position: absolute !important;
top: 233px;
left: 959px;
width: 400px;
height: 107px;
pointer-events: none;
}

.t-l-c-mainContainer .mainContainer-t-component-0-31 {
position: absolute !important;
top: 310px;
left: 959px;
width: 400px;
height: 400px;
pointer-events: none;
}

.t-l-c-mainContainer .mainContainer-t-component-0-32 {
position: absolute !important;
top: 780px;
left: 1444px;
width: 450px;
height: 242px;
pointer-events: auto;
}
