.t-l-c-measuresLibraryPop {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
height: 100%;
width: 1700px;
overflow-y: auto;
overflow-x: auto;
background-color: rgba(0,0,0,0);
}
.t-l-c-measuresLibraryPop .measuresLibraryPop-t-image-base-0-0 {
position: absolute !important;
top: 1152px;
left: 1630px;
width: 3200px;
height: 2262px;
pointer-events: auto;
}
