.t-l-c-measurePop {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0);
}
.t-l-c-measurePop .measurePop-t-row-0-0 {
position: absolute !important;
top: 16px;
left: 2%;
width: 96%;
height: 100%;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
gap: 5px;
}

.t-l-c-measurePop .measurePop-t-row-0-0-1 {
position: unset;
top: 58px;
left: 35px;
width: 100%;
height: auto;
pointer-events: auto;
display: flex;
justify-content: left;
align-items: start;
gap: 0px;
animation-name: ;
margin-bottom: 14px;
}

.t-l-c-measurePop .measurePop-t-component-0-0-1-0 {
position: unset;
top: -189px;
left: 246px;
width: 100%;
height: 56px;
pointer-events: auto;
}

.t-l-c-measurePop .measurePop-t-row-0-0-2 {
position: unset;
top: 48px;
left: 20px;
width: 100%;
height: auto;
pointer-events: auto;
display: flex;
justify-content: left;
align-items: start;
gap: 0px;
}

.t-l-c-measurePop .measurePop-t-col-0-0-2-0 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
gap: unset;
margin-right: 0px;
padding-right: 0px;
}

.t-l-c-measurePop .measurePop-t-text-0-0-2-0-0 {
position: unset;
top: 47px;
left: 20px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-measurePop .measurePop-t-col-0-0-2-1 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
padding-left: 5px;
padding-right: 5px;
}

.t-l-c-measurePop .measurePop-t-text-0-0-2-1-0 {
position: unset;
top: 47px;
left: 142px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-measurePop .measurePop-t-col-0-0-2-2 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
}

.t-l-c-measurePop .measurePop-t-text-0-0-2-2-0 {
position: unset;
top: 47px;
left: 499px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-measurePop .measurePop-t-col-0-0-2-3 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
padding-left: 5px;
}

.t-l-c-measurePop .measurePop-t-text-0-0-2-3-0 {
position: unset;
top: 47px;
left: 621px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-measurePop .measurePop-t-row-0-0-3 {
position: unset;
top: 68px;
left: 45px;
width: 100%;
height: auto;
pointer-events: auto;
display: flex;
justify-content: left;
align-items: center;
gap: 0px;
animation-name: ;
flex-direction: row;
}

.t-l-c-measurePop .measurePop-t-row-0-0-3-0 {
position: unset;
top: -185px;
left: -37px;
width: 25%;
height: 106px;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
background-color: var(--business-show-bg15);
margin-right: 0px;
}

.t-l-c-measurePop .measurePop-t-text-0-0-3-0-0 {
position: unset;
top: 57px;
left: 30px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-measurePop .measurePop-t-row-0-0-3-1 {
position: unset;
top: -175px;
left: -27px;
width: 75%;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
background-color: ;
animation-name: ;
}

.t-l-c-measurePop .measurePop-t-row-0-0-3-1-0 {
position: unset;
top: 58px;
left: 35px;
width: 100%;
height: auto;
pointer-events: auto;
display: flex;
justify-content: left;
align-items: start;
gap: 0px;
animation-name: ;
margin-bottom: 5px;
}

.t-l-c-measurePop .measurePop-t-col-0-0-3-1-0-0 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
padding-left: 5px;
padding-right: 5px;
animation-name: ;
}

.t-l-c-measurePop .measurePop-t-text-0-0-3-1-0-0-0 {
position: unset;
top: 57px;
left: 152px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-measurePop .measurePop-t-col-0-0-3-1-0-1 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
animation-name: ;
}

.t-l-c-measurePop .measurePop-t-text-0-0-3-1-0-1-0 {
position: unset;
top: 57px;
left: 509px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-measurePop .measurePop-t-col-0-0-3-1-0-2 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
padding-left: 5px;
animation-name: ;
}

.t-l-c-measurePop .measurePop-t-text-0-0-3-1-0-2-0 {
position: unset;
top: 57px;
left: 631px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-measurePop .measurePop-t-row-0-0-3-1-1 {
position: unset;
top: 68px;
left: 45px;
width: 100%;
height: auto;
pointer-events: auto;
display: flex;
justify-content: left;
align-items: start;
gap: 0px;
animation-name: ;
margin-bottom: 5px;
}

.t-l-c-measurePop .measurePop-t-col-0-0-3-1-1-0 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
padding-left: 5px;
padding-right: 5px;
animation-name: ;
}

.t-l-c-measurePop .measurePop-t-text-0-0-3-1-1-0-0 {
position: unset;
top: 67px;
left: 162px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-measurePop .measurePop-t-col-0-0-3-1-1-1 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
animation-name: ;
}

.t-l-c-measurePop .measurePop-t-text-0-0-3-1-1-1-0 {
position: unset;
top: 67px;
left: 519px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-measurePop .measurePop-t-col-0-0-3-1-1-2 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
padding-left: 5px;
animation-name: ;
}

.t-l-c-measurePop .measurePop-t-text-0-0-3-1-1-2-0 {
position: unset;
top: 67px;
left: 641px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-measurePop .measurePop-t-row-0-0-3-1-2 {
position: unset;
top: 68px;
left: 45px;
width: 100%;
height: auto;
pointer-events: auto;
display: flex;
justify-content: left;
align-items: start;
gap: 0px;
animation-name: ;
margin-bottom: 0px;
}

.t-l-c-measurePop .measurePop-t-col-0-0-3-1-2-0 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
padding-left: 5px;
padding-right: 5px;
animation-name: ;
}

.t-l-c-measurePop .measurePop-t-text-0-0-3-1-2-0-0 {
position: unset;
top: 67px;
left: 162px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-measurePop .measurePop-t-col-0-0-3-1-2-1 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
animation-name: ;
}

.t-l-c-measurePop .measurePop-t-text-0-0-3-1-2-1-0 {
position: unset;
top: 67px;
left: 519px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-measurePop .measurePop-t-col-0-0-3-1-2-2 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
padding-left: 5px;
animation-name: ;
}

.t-l-c-measurePop .measurePop-t-text-0-0-3-1-2-2-0 {
position: unset;
top: 67px;
left: 641px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-measurePop .measurePop-t-row-0-0-4 {
position: unset;
top: 98px;
left: 75px;
width: 100%;
height: auto;
pointer-events: auto;
display: flex;
justify-content: left;
align-items: start;
gap: 0px;
animation-name: ;
}

.t-l-c-measurePop .measurePop-t-col-0-0-4-0 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
gap: unset;
margin-right: 0px;
padding-right: 0px;
animation-name: ;
}

.t-l-c-measurePop .measurePop-t-text-0-0-4-0-0 {
position: unset;
top: 97px;
left: 70px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-measurePop .measurePop-t-col-0-0-4-1 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
padding-left: 5px;
padding-right: 0px;
animation-name: ;
}

.t-l-c-measurePop .measurePop-t-text-0-0-4-1-0 {
position: unset;
top: 97px;
left: 192px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-measurePop .measurePop-t-row-0-0-5 {
position: unset;
top: 108px;
left: 85px;
width: 100%;
height: calc(100% - 320px);
pointer-events: auto;
display: flex;
justify-content: left;
align-items: start;
gap: 0px;
animation-name: ;
margin-top: 14px;
}

.t-l-c-measurePop .measurePop-t-table-0-0-5-0 {
position: unset;
top: -41px;
left: 160px;
width: 100%;
height: 100%;
pointer-events: auto;
}

.t-l-c-measurePop .measurePop-t-row-0-1 {
position: absolute !important;
top: calc(100% - 46px);
left: 0px;
width: 100%;
height: 46px;
pointer-events: auto;
display: flex;
justify-content: right;
align-items: center;
background-color: var(--business-show-bg15);
border-bottom-left-radius: 16px;
border-bottom-right-radius: 16px;
padding-right: 20px;
bottom: 0;
}

.t-l-c-measurePop .measurePop-t-text-0-1-0 {
position: unset;
top: 278px;
left: 427px;
width: 101px;
height: 28px;
pointer-events: auto;
}

.t-l-c-measurePop .measurePop-t-text-0-1-1 {
position: unset;
top: 288px;
left: 437px;
width: 101px;
height: 28px;
pointer-events: auto;
}
