.t-l-c-performanceTrackingSection6 {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
background-color: rgba(0,0,0,0);
width: 400px;
height: 108px;
}
.t-l-c-performanceTrackingSection6 .performanceTrackingSection6-t-image-base-0-0 {
position: absolute !important;
top: 0px;
left: 0px;
width: 400px;
height: 108px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection6 .performanceTrackingSection6-t-image-base-0-1 {
position: absolute !important;
top: 0px;
left: 0px;
width: 400px;
height: 108px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection6 .performanceTrackingSection6-t-text-0-2 {
position: absolute !important;
top: 54px;
left: 1px;
width: 80px;
height: 16px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection6 .performanceTrackingSection6-t-text-0-3 {
position: absolute !important;
top: 54px;
left: 306px;
width: 80px;
height: 16px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection6 .performanceTrackingSection6-t-text-0-4 {
position: absolute !important;
top: 54px;
left: 88px;
width: 80px;
height: 16px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection6 .performanceTrackingSection6-t-text-0-5 {
position: absolute !important;
top: 54px;
left: 191px;
width: 80px;
height: 16px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection6 .performanceTrackingSection6-t-text-unit-0-6 {
position: absolute !important;
top: 76px;
left: 95px;
width: 66px;
height: 22px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection6 .performanceTrackingSection6-t-text-unit-0-7 {
position: absolute !important;
top: 76px;
left: 8px;
width: 66px;
height: 22px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection6 .performanceTrackingSection6-t-text-unit-0-8 {
position: absolute !important;
top: 76px;
left: 198px;
width: 60px;
height: 23px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection6 .performanceTrackingSection6-t-text-unit-0-9 {
position: absolute !important;
top: 76px;
left: 313px;
width: 66px;
height: 22px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection6 .performanceTrackingSection6-t-rect-0-10 {
position: absolute !important;
top: 7px;
left: 16px;
width: 30px;
height: 30px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection6 .performanceTrackingSection6-t-text-0-11 {
position: absolute !important;
top: 14px;
left: 49px;
width: 325px;
height: 16px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection6 .performanceTrackingSection6-t-rect-0-12 {
position: absolute !important;
top: 56px;
left: 182px;
width: 1px;
height: 38px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection6 .performanceTrackingSection6-t-rect-0-13 {
position: absolute !important;
top: 56px;
left: 84px;
width: 1px;
height: 38px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection6 .performanceTrackingSection6-t-rect-0-14 {
position: absolute !important;
top: 56px;
left: 295px;
width: 1px;
height: 38px;
pointer-events: auto;
}
