.t-l-c-airPollutionAnalysisArea {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 960px;
height: 651px;
background-color: rgba(0,0,0,0);
}
.t-l-c-airPollutionAnalysisArea .airPollutionAnalysisArea-t-text-0-0 {
position: absolute !important;
top: 46px;
left: -1px;
width: 960px;
height: 31px;
pointer-events: auto;
}

.t-l-c-airPollutionAnalysisArea .airPollutionAnalysisArea-t-chart-design-0-1 {
position: absolute !important;
top: 90px;
left: 0px;
width: 960px;
height: 223px;
pointer-events: auto;
}

.t-l-c-airPollutionAnalysisArea .airPollutionAnalysisArea-t-component-0-2 {
position: absolute !important;
top: 3px;
left: 0px;
width: 910px;
height: 27px;
pointer-events: auto;
}

.t-l-c-airPollutionAnalysisArea .airPollutionAnalysisArea-t-text-0-3 {
position: absolute !important;
top: 7px;
left: 39px;
width: 346px;
height: 19px;
pointer-events: auto;
}

.t-l-c-airPollutionAnalysisArea .airPollutionAnalysisArea-t-date-picker-0-4 {
position: absolute !important;
top: 3px;
left: 656px;
width: 296px;
height: 26px;
pointer-events: auto;
}

.t-l-c-airPollutionAnalysisArea .airPollutionAnalysisArea-t-date-picker-0-5 {
position: absolute !important;
top: 3px;
left: 656px;
width: 296px;
height: 26px;
pointer-events: auto;
}

.t-l-c-airPollutionAnalysisArea .airPollutionAnalysisArea-t-text-0-6 {
position: absolute !important;
top: 372px;
left: -2px;
width: 960px;
height: 31px;
pointer-events: auto;
}

.t-l-c-airPollutionAnalysisArea .airPollutionAnalysisArea-t-chart-design-0-7 {
position: absolute !important;
top: 416px;
left: -1px;
width: 960px;
height: 223px;
pointer-events: auto;
}

.t-l-c-airPollutionAnalysisArea .airPollutionAnalysisArea-t-component-0-8 {
position: absolute !important;
top: 329px;
left: -1px;
width: 910px;
height: 27px;
pointer-events: auto;
}

.t-l-c-airPollutionAnalysisArea .airPollutionAnalysisArea-t-text-0-9 {
position: absolute !important;
top: 333px;
left: 38px;
width: 346px;
height: 19px;
pointer-events: auto;
}

.t-l-c-airPollutionAnalysisArea .airPollutionAnalysisArea-t-date-picker-0-10 {
position: absolute !important;
top: 329px;
left: 655px;
width: 296px;
height: 26px;
pointer-events: auto;
}

.t-l-c-airPollutionAnalysisArea .airPollutionAnalysisArea-t-date-picker-0-11 {
position: absolute !important;
top: 329px;
left: 655px;
width: 296px;
height: 26px;
pointer-events: auto;
}
