.t-l-c-travelingVehicleContent {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
height: 891px;
width: 450px;
background-color: rgba(0,0,0,0);
}
.t-l-c-travelingVehicleContent .travelingVehicleContent-t-component-0-0 {
position: absolute !important;
top: 20px;
left: 20px;
width: 410px;
height: 860px;
pointer-events: auto;
}
