.t-l-c-airOverviewQualityRankDialog {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
height: 1080px;
width: 1920px;
background-color: rgba(0,0,0,0);
}
.t-l-c-airOverviewQualityRankDialog .airOverviewQualityRankDialog-t-text-common-0-0 {
position: absolute !important;
top: 259px;
left: 1295px;
width: 96px;
height: 20px;
pointer-events: auto;
}

.t-l-c-airOverviewQualityRankDialog .airOverviewQualityRankDialog-t-rect-0-1 {
position: absolute !important;
top: 184px;
left: 158px;
width: 1608px;
height: 712px;
pointer-events: auto;
}

.t-l-c-airOverviewQualityRankDialog .airOverviewQualityRankDialog-t-rect-0-2 {
position: absolute !important;
top: 184px;
left: 158px;
width: 1608px;
height: 47px;
pointer-events: auto;
}

.t-l-c-airOverviewQualityRankDialog .airOverviewQualityRankDialog-t-tabs-base-0-3 {
position: absolute !important;
top: 247px;
left: 176px;
width: 524px;
height: 32px;
pointer-events: auto;
}

.t-l-c-airOverviewQualityRankDialog .airOverviewQualityRankDialog-t-text-0-4 {
position: absolute !important;
top: 184px;
left: 177px;
width: 300px;
height: 47px;
pointer-events: auto;
}

.t-l-c-airOverviewQualityRankDialog .airOverviewQualityRankDialog-t-rect-0-5 {
position: absolute !important;
top: 195px;
left: 1714px;
width: 24px;
height: 24px;
pointer-events: auto;
}

.t-l-c-airOverviewQualityRankDialog .airOverviewQualityRankDialog-t-rect-0-6 {
position: absolute !important;
top: 294px;
left: 1083px;
width: 54px;
height: 32px;
pointer-events: auto;
}

.t-l-c-airOverviewQualityRankDialog .airOverviewQualityRankDialog-t-select-0-8 {
position: absolute !important;
top: 294px;
left: 175px;
width: 242px;
height: 32px;
pointer-events: auto;
}

.t-l-c-airOverviewQualityRankDialog .airOverviewQualityRankDialog-t-search-0-9 {
position: absolute !important;
top: 294px;
left: 727px;
width: 352px;
height: 32px;
pointer-events: auto;
}

.t-l-c-airOverviewQualityRankDialog .airOverviewQualityRankDialog-t-rect-0-10 {
position: absolute !important;
top: 248px;
left: 176px;
width: 229px;
height: 32px;
pointer-events: auto;
}

.t-l-c-airOverviewQualityRankDialog .airOverviewQualityRankDialog-t-rect-0-11 {
position: absolute !important;
top: 247px;
left: 176px;
width: 153px;
height: 32px;
pointer-events: auto;
}

.t-l-c-airOverviewQualityRankDialog .airOverviewQualityRankDialog-t-date-picker-0-12 {
position: absolute !important;
top: 294px;
left: 431px;
width: 280px;
height: 32px;
pointer-events: auto;
}

.t-l-c-airOverviewQualityRankDialog .airOverviewQualityRankDialog-t-text-0-13 {
position: absolute !important;
top: 300px;
left: 1422px;
width: 330px;
height: 20px;
pointer-events: auto;
}

.t-l-c-airOverviewQualityRankDialog .airOverviewQualityRankDialog-t-table-0-14 {
position: absolute !important;
top: 338px;
left: 176px;
width: 1568px;
height: 540px;
pointer-events: auto;
}
