.t-l-c-warningRecordYhbz {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
height: 628px;
width: 1000px;
background-color: rgba(5, 1, 49, 0);
}
.t-l-c-warningRecordYhbz .warningRecordYhbz-t-row-0-1 {
position: absolute !important;
top: 20px;
left: 0px;
width: 100%;
height: 32px;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
}

.t-l-c-warningRecordYhbz .warningRecordYhbz-t-col-0-1-0 {
position: relative;
top: null;
left: null;
width: 100px;
height: 32px;
pointer-events: auto;
display: flex;
justify-content: right;
align-items: center;
padding-right: 32px;
}

.t-l-c-warningRecordYhbz .warningRecordYhbz-t-date-picker-0-1-0-0 {
position: unset;
top: 20px;
left: 686px;
width: 330px;
height: 32px;
pointer-events: auto;
}

.t-l-c-warningRecordYhbz .warningRecordYhbz-t-row-0-2 {
position: absolute !important;
top: 80px;
left: 0px;
width: 100%;
height: calc(100% - 80px);
pointer-events: auto;
display: flex;
justify-content: center;
align-items: start;
}

.t-l-c-warningRecordYhbz .warningRecordYhbz-t-col-0-2-0 {
position: relative;
top: null;
left: null;
width: 100px;
height: 100%;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: start;
padding-left: 20px;
padding-right: 20px;
}

.t-l-c-warningRecordYhbz .warningRecordYhbz-t-table-0-2-0-0 {
position: unset;
top: 109px;
left: -21px;
width: 100%;
height: 100%;
pointer-events: auto;
}
