.t-l-c-airOverviewQualityRankingTitle {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 410px;
height: 32px;
background-color: rgba(0,0,0,0);
}
.t-l-c-airOverviewQualityRankingTitle .airOverviewQualityRankingTitle-t-component-0-0 {
position: absolute !important;
top: 0px;
left: 0px;
width: 410px;
height: 32px;
pointer-events: auto;
}

.t-l-c-airOverviewQualityRankingTitle .airOverviewQualityRankingTitle-t-text-0-1 {
position: absolute !important;
top: 6px;
left: 280px;
width: 120px;
height: 20px;
pointer-events: auto;
}

.t-l-c-airOverviewQualityRankingTitle .airOverviewQualityRankingTitle-t-text-unit-0-2 {
position: absolute !important;
top: 1px;
left: 34px;
width: 249px;
height: 32px;
pointer-events: auto;
}
