.t-l-c-rightRealTimeUse {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
background-color: rgba(0,0,0,0);
width: 400px;
height: 262px;
}
.t-l-c-rightRealTimeUse .rightRealTimeUse-t-rect-0-1 {
position: absolute !important;
top: 166px;
left: 17px;
width: 73px;
height: 73px;
pointer-events: auto;
}

.t-l-c-rightRealTimeUse .rightRealTimeUse-t-rect-0-2 {
position: absolute !important;
top: 180px;
left: 38px;
width: 40px;
height: 40px;
pointer-events: auto;
}

.t-l-c-rightRealTimeUse .rightRealTimeUse-t-rect-0-3 {
position: absolute !important;
top: 175px;
left: 33px;
width: 40px;
height: 40px;
pointer-events: auto;
}

.t-l-c-rightRealTimeUse .rightRealTimeUse-t-rect-0-4 {
position: absolute !important;
top: 169px;
left: 85px;
width: 260px;
height: 78px;
pointer-events: auto;
}

.t-l-c-rightRealTimeUse .rightRealTimeUse-t-text-0-5 {
position: absolute !important;
top: 182px;
left: 95px;
width: 260px;
height: 16px;
pointer-events: auto;
}

.t-l-c-rightRealTimeUse .rightRealTimeUse-t-rolling-number-0-6 {
position: absolute !important;
top: 204px;
left: 96px;
width: 260px;
height: 24px;
pointer-events: auto;
}

.t-l-c-rightRealTimeUse .rightRealTimeUse-t-rect-0-7 {
position: absolute !important;
top: 66px;
left: 17px;
width: 73px;
height: 73px;
pointer-events: auto;
}

.t-l-c-rightRealTimeUse .rightRealTimeUse-t-rect-0-8 {
position: absolute !important;
top: 80px;
left: 38px;
width: 40px;
height: 40px;
pointer-events: auto;
}

.t-l-c-rightRealTimeUse .rightRealTimeUse-t-rect-0-9 {
position: absolute !important;
top: 75px;
left: 33px;
width: 40px;
height: 40px;
pointer-events: auto;
}

.t-l-c-rightRealTimeUse .rightRealTimeUse-t-rect-0-10 {
position: absolute !important;
top: 69px;
left: 84px;
width: 260px;
height: 78px;
pointer-events: auto;
}

.t-l-c-rightRealTimeUse .rightRealTimeUse-t-text-0-11 {
position: absolute !important;
top: 82px;
left: 95px;
width: 260px;
height: 16px;
pointer-events: auto;
}

.t-l-c-rightRealTimeUse .rightRealTimeUse-t-rolling-number-0-12 {
position: absolute !important;
top: 104px;
left: 96px;
width: 260px;
height: 24px;
pointer-events: auto;
}

.t-l-c-rightRealTimeUse .rightRealTimeUse-t-rect-0-13 {
position: absolute !important;
top: 0px;
left: 0px;
width: 400px;
height: 50px;
pointer-events: auto;
}

.t-l-c-rightRealTimeUse .rightRealTimeUse-t-rect-0-14 {
position: absolute !important;
top: 5px;
left: 9px;
width: 118px;
height: 45px;
pointer-events: auto;
}

.t-l-c-rightRealTimeUse .rightRealTimeUse-t-gradient-shadow-text-0-15 {
position: absolute !important;
top: 15px;
left: 40px;
width: 135px;
height: 31px;
pointer-events: auto;
}

.t-l-c-rightRealTimeUse .rightRealTimeUse-t-text-unit-0-16 {
position: absolute !important;
top: 19px;
left: 179px;
width: 211px;
height: 20px;
pointer-events: auto;
}

@keyframes customa506ea48efdf {

0% {
transform: perspective(900px) translateX(0px) translateY(0px) translateZ(0px) rotateX(50deg) rotateY(-32deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
100% {
transform: perspective(900px) translateX(0px) translateY(0px) translateZ(0px) rotateX(50deg) rotateY(-32deg) rotateZ(360deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
}
@keyframes custom458e08e033fd4 {

0% {
transform: perspective(900px) translateX(0px) translateY(0px) translateZ(0px) rotateX(50deg) rotateY(-32deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
100% {
transform: perspective(900px) translateX(0px) translateY(0px) translateZ(0px) rotateX(50deg) rotateY(-32deg) rotateZ(360deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
}
@keyframes custom7a277f6019b42 {

0% {
transform: perspective(900px) translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
20%;
}
50% {
transform: perspective(900px) translateX(50px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
100% {
transform: perspective(900px) translateX(100px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
20%;
}
}