.t-l-c-root {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: none;
position: Fixed;
z-index: 1000;
filter: ;
width: 1920px;
height: 1080px;
background-color: unset;
}
.t-l-c-root .root-t-iframe-0-0 {
position: absolute !important;
top: 0px;
left: 0px;
width: 1920px;
height: 1080px;
pointer-events: auto;
}

.t-l-c-root .root-t-component-0-1 {
position: absolute !important;
top: 0px;
left: 0px;
width: 1920px;
height: 1080px;
pointer-events: auto;
}

.t-l-c-root .root-t-component-0-2 {
position: absolute !important;
top: 0px;
left: 0px;
width: 1920px;
height: 1080px;
pointer-events: none;
}

.t-l-c-root .root-t-component-0-3 {
position: absolute !important;
top: 0px;
left: 0px;
width: 1920px;
height: 1080px;
pointer-events: none;
}

.t-l-c-root .root-t-iframe-0-4 {
position: absolute !important;
top: 0px;
left: 0px;
width: 1920px;
height: 1080px;
pointer-events: auto;
}

.t-l-c-root .root-t-component-0-5 {
position: absolute !important;
top: 0px;
left: 0px;
width: 1920px;
height: 102px;
pointer-events: none;
}

.t-l-c-root .root-t-cascader-0-6 {
position: absolute !important;
top: 38px;
left: 58px;
width: 112px;
height: 35px;
pointer-events: auto;
}

.t-l-c-root .root-t-cascader-0-7 {
position: absolute !important;
top: 38px;
left: 82px;
width: 100px;
height: 35px;
pointer-events: none;
}

.t-l-c-root .root-t-rect-0-8 {
position: absolute !important;
top: 985px;
left: 0px;
width: 1920px;
height: 95px;
pointer-events: none;
}

.t-l-c-root .root-t-component-0-9 {
position: absolute !important;
top: 10px;
left: 10px;
width: 1920px;
height: 1080px;
pointer-events: none;
}

.t-l-c-root .root-t-component-0-10 {
position: absolute !important;
top: 0px;
left: 0px;
width: 1920px;
height: 1080px;
pointer-events: none;
}

.t-l-c-root .root-t-component-0-11 {
position: absolute !important;
top: 887px;
left: 0px;
width: 1920px;
height: 191px;
pointer-events: none;
}

.t-l-c-root .root-t-component-0-12 {
position: absolute !important;
top: 0px;
left: 0px;
width: 1920px;
height: 1080px;
pointer-events: auto;
}

.t-l-c-root .root-t-component-0-13 {
position: absolute !important;
top: 0px;
left: 0px;
width: 1920px;
height: 1080px;
pointer-events: auto;
}
