.t-l-c-leftMenu {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
z-index: 1;
background-color: rgba(255, 85, 85, 0);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
pointer-events: auto;
filter: ;
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
width: 223px;
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
position: Static;
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
height: 833px;
}
.t-l-c-leftMenu .leftMenu-t-rect-0-1 {
position: absolute !important;
top: 0px;
left: 0px;
width: 223px;
height: 833px;
pointer-events: auto;
}

.t-l-c-leftMenu .leftMenu-t-rect-0-2 {
position: absolute !important;
top: 1px;
left: 1px;
width: 221px;
height: 43px;
pointer-events: auto;
}

.t-l-c-leftMenu .leftMenu-t-tabs-0-3 {
position: absolute !important;
top: 13px;
left: 49px;
width: 171px;
height: 18px;
pointer-events: auto;
}

.t-l-c-leftMenu .leftMenu-t-rect-0-4 {
position: absolute !important;
top: 10px;
left: 16px;
width: 25px;
height: 25px;
pointer-events: auto;
}

.t-l-c-leftMenu .leftMenu-t-iframe-0-5 {
position: absolute !important;
top: 52px;
left: 16px;
width: 201px;
height: 762px;
pointer-events: auto;
}

.t-l-c-leftMenu .leftMenu-t-iframe-0-6 {
position: absolute !important;
top: 53px;
left: 17px;
width: 205px;
height: 762px;
pointer-events: auto;
}

.t-l-c-leftMenu .leftMenu-t-rect-0-9 {
position: absolute !important;
top: 10px;
left: 2px;
width: 25px;
height: 25px;
pointer-events: auto;
}
