.t-l-c-yhbzInspectionsituation {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
height: 800px;
width: 1400px;
background-color: rgba(5, 1, 49, 0);
}
.t-l-c-yhbzInspectionsituation .yhbzInspectionsituation-t-col-0-0 {
position: absolute !important;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
pointer-events: auto;
display: flex;
justify-content: unset;
align-items: center;
flex-direction: column;
}

.t-l-c-yhbzInspectionsituation .yhbzInspectionsituation-t-row-0-0-0 {
position: unset;
top: 12px;
left: 0px;
width: 100%;
height: 32px;
pointer-events: none;
display: flex;
justify-content: right;
align-items: center;
padding-left: 12px;
padding-right: 12px;
margin-top: 16px;
}

.t-l-c-yhbzInspectionsituation .yhbzInspectionsituation-t-tabs-base-0-0-0-0 {
position: unset;
top: -69px;
left: 509px;
width: 300px;
height: 32px;
pointer-events: auto;
}

.t-l-c-yhbzInspectionsituation .yhbzInspectionsituation-t-text-common-0-0-0-1 {
position: unset;
top: 32px;
left: 953px;
width: 70px;
height: 20px;
pointer-events: auto;
}

.t-l-c-yhbzInspectionsituation .yhbzInspectionsituation-t-date-picker-0-0-0-2 {
position: unset;
top: 32px;
left: 1142px;
width: 500px;
height: 31px;
pointer-events: auto;
}

.t-l-c-yhbzInspectionsituation .yhbzInspectionsituation-t-date-picker-0-0-0-3 {
position: unset;
top: 22px;
left: 1132px;
width: 500px;
height: 31px;
pointer-events: auto;
}

.t-l-c-yhbzInspectionsituation .yhbzInspectionsituation-t-row-0-0-1 {
position: unset;
top: 146px;
left: 22px;
width: 100%;
height: calc(100% - 110px);
pointer-events: auto;
display: flex;
justify-content: left;
align-items: center;
padding-left: 12px;
padding-right: 12px;
padding-top: 12px;
padding-bottom: 2px;
}

.t-l-c-yhbzInspectionsituation .yhbzInspectionsituation-t-component-0-0-1-1 {
position: unset;
top: 60px;
left: 20px;
width: 100%;
height: 100%;
pointer-events: auto;
}

.t-l-c-yhbzInspectionsituation .yhbzInspectionsituation-t-row-0-0-2 {
position: unset;
top: 223px;
left: 0px;
width: 100%;
height: 40px;
pointer-events: auto;
display: flex;
justify-content: left;
align-items: center;
padding-left: 12px;
padding-right: 12px;
}

.t-l-c-yhbzInspectionsituation .yhbzInspectionsituation-t-pagination-base-0-0-2-0 {
position: unset;
top: 530px;
left: 20px;
width: 100%;
height: 100%;
pointer-events: auto;
}
