.t-l-c-realtimePointPop {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 510px;
height: 216px;
background-color: rgba(0,0,0,0);
}
.t-l-c-realtimePointPop .realtimePointPop-t-rect-0-0 {
position: absolute !important;
top: 0px;
left: 0px;
width: 510px;
height: 216px;
pointer-events: auto;
}

.t-l-c-realtimePointPop .realtimePointPop-t-rect-0-1 {
position: absolute !important;
top: 0px;
left: 0px;
width: 510px;
height: 47px;
pointer-events: auto;
}

.t-l-c-realtimePointPop .realtimePointPop-t-row-0-2 {
position: absolute !important;
top: 0px;
left: 24px;
width: 438px;
height: 47px;
pointer-events: auto;
letter-spacing: 0px;
animation-name: ;
font-weight: 600;
background-image: ;
-webkit-mask-image: ;
background-repeat: ;
-webkit-mask-repeat: ;
background-size: ;
-webkit-mask-size: ;
background-position: ;
-webkit-mask-position: ;
border: 1px solid;
border-image: var(--t-index-border) 1;
border-left: 0px none rgb(23,62,228);
border-top: 0px none rgb(23,62,228);
border-right: 0px none rgb(23,62,228);
border-bottom: 0px none rgb(23,62,228);
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}

.t-l-c-realtimePointPop .realtimePointPop-t-text-0-2-0 {
position: unset;
top: 314.66978602255546px;
left: 518.4390687019594px;
width: auto;
height: auto;
pointer-events: auto;
}

.t-l-c-realtimePointPop .realtimePointPop-t-rect-0-2-1 {
position: unset;
top: -42px;
left: 90px;
width: 20px;
height: 20px;
pointer-events: auto;
}

.t-l-c-realtimePointPop .realtimePointPop-t-text-0-2-2 {
position: unset;
top: -34px;
left: 198px;
width: 40px;
height: 20px;
pointer-events: auto;
}

.t-l-c-realtimePointPop .realtimePointPop-t-rect-0-2-3 {
position: unset;
top: -76px;
left: 271px;
width: 40px;
height: 20px;
pointer-events: auto;
}

.t-l-c-realtimePointPop .realtimePointPop-t-rect-0-2-4 {
position: unset;
top: -98px;
left: 233px;
width: 40px;
height: 20px;
pointer-events: auto;
}

.t-l-c-realtimePointPop .realtimePointPop-t-rect-0-2-5 {
position: unset;
top: -76px;
left: 130px;
width: 40px;
height: 20px;
pointer-events: auto;
}

.t-l-c-realtimePointPop .realtimePointPop-t-rect-0-2-6 {
position: unset;
top: -56px;
left: 172px;
width: 40px;
height: 20px;
pointer-events: auto;
}

.t-l-c-realtimePointPop .realtimePointPop-t-rect-0-2-7 {
position: unset;
top: -53px;
left: 66px;
width: 40px;
height: 20px;
pointer-events: auto;
}

.t-l-c-realtimePointPop .realtimePointPop-t-rect-0-2-8 {
position: unset;
top: -75px;
left: 223px;
width: 40px;
height: 20px;
pointer-events: auto;
}

.t-l-c-realtimePointPop .realtimePointPop-t-rect-0-2-9 {
position: unset;
top: -46px;
left: 125px;
width: 40px;
height: 20px;
pointer-events: auto;
}

.t-l-c-realtimePointPop .realtimePointPop-t-text-0-2-10 {
position: unset;
top: -77px;
left: 308px;
width: 44px;
height: 14px;
pointer-events: auto;
}

.t-l-c-realtimePointPop .realtimePointPop-t-text-0-2-11 {
position: unset;
top: -84px;
left: 193px;
width: auto;
height: 18px;
pointer-events: auto;
}

.t-l-c-realtimePointPop .realtimePointPop-t-rect-0-3 {
position: absolute !important;
top: 11px;
left: 462px;
width: 24px;
height: 24px;
pointer-events: auto;
}

.t-l-c-realtimePointPop .realtimePointPop-t-list-card-0-4 {
position: absolute !important;
top: 100px;
left: 20px;
width: 470px;
height: 100px;
pointer-events: auto;
}

.t-l-c-realtimePointPop .realtimePointPop-t-text-0-5 {
position: absolute !important;
top: 68px;
left: 20px;
width: 70px;
height: 14px;
pointer-events: auto;
}

.t-l-c-realtimePointPop .realtimePointPop-t-text-0-6 {
position: absolute !important;
top: 68px;
left: 90px;
width: 150px;
height: 14px;
pointer-events: auto;
}
