.t-l-c-waterSourceWisetRecomme {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 410px;
height: 811px;
background-color: rgba(0,0,0,0);
}
.t-l-c-waterSourceWisetRecomme .waterSourceWisetRecomme-t-rect-0-0 {
position: absolute !important;
top: 211px;
left: 1px;
width: 410px;
height: 597px;
pointer-events: auto;
}

.t-l-c-waterSourceWisetRecomme .waterSourceWisetRecomme-t-rect-0-1 {
position: absolute !important;
top: 52px;
left: 0px;
width: 410px;
height: 76px;
pointer-events: auto;
}

.t-l-c-waterSourceWisetRecomme .waterSourceWisetRecomme-t-list-card-multiple-choice-0-4 {
position: absolute !important;
top: 259px;
left: 617px;
width: 410px;
height: 151px;
pointer-events: auto;
}

.t-l-c-waterSourceWisetRecomme .waterSourceWisetRecomme-t-button-0-5 {
position: absolute !important;
top: 567px;
left: 533px;
width: 46px;
height: 32px;
pointer-events: auto;
}

.t-l-c-waterSourceWisetRecomme .waterSourceWisetRecomme-t-table-0-6 {
position: absolute !important;
top: 210px;
left: 0px;
width: 410px;
height: 600px;
pointer-events: auto;
}

.t-l-c-waterSourceWisetRecomme .waterSourceWisetRecomme-t-component-0-8 {
position: absolute !important;
top: 10px;
left: 0px;
width: 410px;
height: 31px;
pointer-events: auto;
}

.t-l-c-waterSourceWisetRecomme .waterSourceWisetRecomme-t-text-0-9 {
position: absolute !important;
top: 15px;
left: 33px;
width: 234px;
height: 19px;
pointer-events: auto;
}

.t-l-c-waterSourceWisetRecomme .waterSourceWisetRecomme-t-rect-0-10 {
position: absolute !important;
top: 270px;
left: 332px;
width: 72px;
height: 32px;
pointer-events: auto;
}

.t-l-c-waterSourceWisetRecomme .waterSourceWisetRecomme-t-rect-0-11 {
position: absolute !important;
top: 153px;
left: 334px;
width: 72px;
height: 32px;
pointer-events: auto;
}

.t-l-c-waterSourceWisetRecomme .waterSourceWisetRecomme-t-checkbox-0-12 {
position: absolute !important;
top: 64px;
left: 98px;
width: 303px;
height: 20px;
pointer-events: auto;
}

.t-l-c-waterSourceWisetRecomme .waterSourceWisetRecomme-t-radio-0-13 {
position: absolute !important;
top: 90px;
left: 18px;
width: 300px;
height: 20px;
pointer-events: auto;
}

.t-l-c-waterSourceWisetRecomme .waterSourceWisetRecomme-t-line-0-14 {
position: absolute !important;
top: 177px;
left: 843px;
width: 1px;
height: 6px;
pointer-events: auto;
}

.t-l-c-waterSourceWisetRecomme .waterSourceWisetRecomme-t-line-0-15 {
position: absolute !important;
top: 52px;
left: 464px;
width: 1px;
height: 6px;
pointer-events: auto;
}

.t-l-c-waterSourceWisetRecomme .waterSourceWisetRecomme-t-line-0-16 {
position: absolute !important;
top: 51px;
left: 464px;
width: 6px;
height: 1px;
pointer-events: auto;
}

.t-l-c-waterSourceWisetRecomme .waterSourceWisetRecomme-t-line-0-17 {
position: absolute !important;
top: 183px;
left: 838px;
width: 6px;
height: 1px;
pointer-events: auto;
}

.t-l-c-waterSourceWisetRecomme .waterSourceWisetRecomme-t-text-0-18 {
position: absolute !important;
top: 17px;
left: 142px;
width: 16px;
height: 16px;
pointer-events: auto;
}

.t-l-c-waterSourceWisetRecomme .waterSourceWisetRecomme-t-line-0-19 {
position: absolute !important;
top: 51px;
left: 843px;
width: 1px;
height: 6px;
pointer-events: auto;
}

.t-l-c-waterSourceWisetRecomme .waterSourceWisetRecomme-t-line-0-20 {
position: absolute !important;
top: 51px;
left: 838px;
width: 6px;
height: 1px;
pointer-events: auto;
}

.t-l-c-waterSourceWisetRecomme .waterSourceWisetRecomme-t-line-0-21 {
position: absolute !important;
top: 183px;
left: 463px;
width: 6px;
height: 1px;
pointer-events: auto;
}

.t-l-c-waterSourceWisetRecomme .waterSourceWisetRecomme-t-line-0-22 {
position: absolute !important;
top: 178px;
left: 463px;
width: 1px;
height: 6px;
pointer-events: auto;
}

.t-l-c-waterSourceWisetRecomme .waterSourceWisetRecomme-t-text-common-0-23 {
position: absolute !important;
top: 65px;
left: 20px;
width: auto;
height: 20px;
pointer-events: auto;
}

.t-l-c-waterSourceWisetRecomme .waterSourceWisetRecomme-t-text-common-0-24 {
position: absolute !important;
top: 35px;
left: 9px;
width: 288px;
height: 179px;
pointer-events: auto;
}
