.t-l-c-aerialPop {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: none;
position: Static;
z-index: 1;
filter: ;
width: 1920px;
height: 1080px;
background-color: rgba(0,0,0,0);
}
.t-l-c-aerialPop .aerialPop-t-rect-0-0 {
position: absolute !important;
top: 229px;
left: 669px;
width: 600px;
height: 609px;
pointer-events: auto;
}

.t-l-c-aerialPop .aerialPop-t-rect-0-1 {
position: absolute !important;
top: 230px;
left: 669px;
width: 600px;
height: 47px;
pointer-events: auto;
}

.t-l-c-aerialPop .aerialPop-t-rect-0-2 {
position: absolute !important;
top: 241px;
left: 1230px;
width: 24px;
height: 24px;
pointer-events: auto;
}

.t-l-c-aerialPop .aerialPop-t-text-0-3 {
position: absolute !important;
top: 243px;
left: 678px;
width: 125px;
height: 19px;
pointer-events: auto;
}

.t-l-c-aerialPop .aerialPop-t-list-card-0-4 {
position: absolute !important;
top: 284px;
left: 680px;
width: 580px;
height: 210px;
pointer-events: auto;
}

.t-l-c-aerialPop .aerialPop-t-image-base-0-5 {
position: absolute !important;
top: 548px;
left: 681px;
width: 290px;
height: 274px;
pointer-events: auto;
}

.t-l-c-aerialPop .aerialPop-t-image-base-0-6 {
position: absolute !important;
top: 548px;
left: 971px;
width: 290px;
height: 274px;
pointer-events: auto;
}

.t-l-c-aerialPop .aerialPop-t-rect-0-7 {
position: absolute !important;
top: 524px;
left: 653px;
width: 100px;
height: 20px;
pointer-events: auto;
}
