.t-l-c-publicFontSizeSetting {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
filter: ;
z-index: 1;
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
position: Static;
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
pointer-events: none;
height: 129px;
width: 200px;
background-color: rgba(0,0,0,0);
}
.t-l-c-publicFontSizeSetting .publicFontSizeSetting-t-rect-0-0 {
position: absolute !important;
top: 0px;
left: 172px;
width: 24px;
height: 24px;
pointer-events: auto;
}

.t-l-c-publicFontSizeSetting .publicFontSizeSetting-t-component-0-1 {
position: absolute !important;
top: 40px;
left: 0px;
width: 194px;
height: 88px;
pointer-events: auto;
}
