.t-l-c-responsibilityTablePop {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 1920px;
height: 1080px;
background-color: var(--t-dia-bg);
}
.t-l-c-responsibilityTablePop .responsibilityTablePop-t-rect-0-0 {
position: absolute !important;
top: 74px;
left: 187px;
width: 1534px;
height: 941px;
pointer-events: auto;
}

.t-l-c-responsibilityTablePop .responsibilityTablePop-t-table-0-1 {
position: absolute !important;
top: 225px;
left: 229px;
width: 1458px;
height: 760px;
pointer-events: auto;
}

.t-l-c-responsibilityTablePop .responsibilityTablePop-t-rect-0-2 {
position: absolute !important;
top: 75px;
left: 187px;
width: 1535px;
height: 47px;
pointer-events: auto;
}

.t-l-c-responsibilityTablePop .responsibilityTablePop-t-select-0-3 {
position: absolute !important;
top: 180px;
left: 301px;
width: 240px;
height: 32px;
pointer-events: auto;
}

.t-l-c-responsibilityTablePop .responsibilityTablePop-t-text-0-4 {
position: absolute !important;
top: 186px;
left: 231px;
width: 59px;
height: 20px;
pointer-events: auto;
}

.t-l-c-responsibilityTablePop .responsibilityTablePop-t-text-0-5 {
position: absolute !important;
top: -59px;
left: 265px;
width: 32px;
height: 20px;
pointer-events: auto;
}

.t-l-c-responsibilityTablePop .responsibilityTablePop-t-date-picker-0-6 {
position: absolute !important;
top: -64px;
left: 284px;
width: 240px;
height: 32px;
pointer-events: auto;
}

.t-l-c-responsibilityTablePop .responsibilityTablePop-t-text-0-7 {
position: absolute !important;
top: 87px;
left: 218px;
width: 589px;
height: 22px;
pointer-events: auto;
}

.t-l-c-responsibilityTablePop .responsibilityTablePop-t-rect-0-8 {
position: absolute !important;
top: 86px;
left: 1675px;
width: 24px;
height: 24px;
pointer-events: auto;
}

.t-l-c-responsibilityTablePop .responsibilityTablePop-t-component-0-9 {
position: absolute !important;
top: 136px;
left: 220px;
width: 1476px;
height: 33px;
pointer-events: auto;
}

.t-l-c-responsibilityTablePop .responsibilityTablePop-t-text-common-0-10 {
position: absolute !important;
top: 143px;
left: 275px;
width: 215px;
height: 20px;
pointer-events: auto;
}

.t-l-c-responsibilityTablePop .responsibilityTablePop-t-input-0-11 {
position: absolute !important;
top: -61px;
left: 699px;
width: 240px;
height: 32px;
pointer-events: auto;
}

.t-l-c-responsibilityTablePop .responsibilityTablePop-t-text-0-12 {
position: absolute !important;
top: -56px;
left: 629px;
width: 59px;
height: 20px;
pointer-events: auto;
}
