.t-l-c-dialogTitle {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 100%;
height: 32px;
background-color: rgba(0,0,0,0);
}
.t-l-c-dialogTitle .dialogTitle-t-rect-0-0 {
position: absolute !important;
top: 1px;
left: 36px;
width: 100%;
height: 31px;
pointer-events: auto;
}

.t-l-c-dialogTitle .dialogTitle-t-rect-0-1 {
position: absolute !important;
top: -2px;
left: -7px;
width: 41px;
height: 36px;
pointer-events: auto;
}

.t-l-c-dialogTitle .dialogTitle-t-row-0-3 {
position: absolute !important;
top: 0px;
left: 0px;
width: 100%;
height: 32px;
pointer-events: auto;
display: flex;
justify-content: right;
align-items: end;
padding-top: 0px;
padding-right: 20px;
}

.t-l-c-dialogTitle .dialogTitle-t-col-0-3-0 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: right;
align-items: center;
gap: 10px;
}

.t-l-c-dialogTitle .dialogTitle-t-rect-0-3-0-0 {
position: unset;
top: 7px;
left: 481px;
width: 13px;
height: 24px;
pointer-events: auto;
}

.t-l-c-dialogTitle .dialogTitle-t-rect-0-3-0-1 {
position: unset;
top: 7px;
left: 502px;
width: 13px;
height: 24px;
pointer-events: auto;
}

.t-l-c-dialogTitle .dialogTitle-t-rect-0-3-0-2 {
position: unset;
top: 7px;
left: 523px;
width: 13px;
height: 24px;
pointer-events: auto;
}

.t-l-c-dialogTitle .dialogTitle-t-rect-0-3-0-3 {
position: unset;
top: 7px;
left: 544px;
width: 13px;
height: 24px;
pointer-events: auto;
}

.t-l-c-dialogTitle .dialogTitle-t-rect-0-3-0-4 {
position: unset;
top: 7px;
left: 565px;
width: 13px;
height: 24px;
pointer-events: auto;
}

.t-l-c-dialogTitle .dialogTitle-t-rect-0-3-0-5 {
position: unset;
top: 7px;
left: 586px;
width: 13px;
height: 24px;
pointer-events: auto;
}

.t-l-c-dialogTitle .dialogTitle-t-rect-0-3-0-6 {
position: unset;
top: 7px;
left: 607px;
width: 13px;
height: 24px;
pointer-events: auto;
}

@keyframes custom6123448937c6e {

0% {
transform: perspective(900px) translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
100% {
transform: perspective(900px) translateX(10px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
}
@keyframes custom653e5cee1dd05 {

0% {
transform: perspective(900px) translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
100% {
transform: perspective(900px) translateX(6px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(100%) scaleY(100%) skewX(0deg) skewY(0deg);
opacity: 
100%;
}
}