.t-l-c-waterTraceabilityContentOld {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 450px;
height: 900px;
background-color: rgba(255, 255, 255, 0);
}
.t-l-c-waterTraceabilityContentOld .waterTraceabilityContent-t-row-0-0 {
position: absolute !important;
top: 9px;
left: 20px;
width: 419px;
height: 47px;
pointer-events: auto;
animation-name: ;
}

.t-l-c-waterTraceabilityContentOld .waterTraceabilityContent-t-text-0-0-0 {
position: unset;
top: 18px;
left: 12px;
width: 43px;
height: 18px;
pointer-events: auto;
}

.t-l-c-waterTraceabilityContentOld .waterTraceabilityContent-t-text-0-0-1 {
position: unset;
top: 205.12660047743043px;
left: 469.8092289677372px;
width: auto;
height: 21px;
pointer-events: auto;
}

.t-l-c-waterTraceabilityContentOld .waterTraceabilityContent-t-text-0-0-2 {
position: unset;
top: -106px;
left: 260px;
width: 40px;
height: 20px;
pointer-events: auto;
}

.t-l-c-waterTraceabilityContentOld .waterTraceabilityContent-t-list-card-common-0-0-3 {
position: unset;
top: 207.12660047743043px;
left: 672.8092289677372px;
width: 50px;
height: 20px;
pointer-events: auto;
}

.t-l-c-waterTraceabilityContentOld .waterTraceabilityContent-t-list-card-common-0-0-4 {
position: unset;
top: 241px;
left: 634px;
width: 50px;
height: 20px;
pointer-events: auto;
}

.t-l-c-waterTraceabilityContentOld .waterTraceabilityContent-t-rect-0-0-5 {
position: unset;
top: 206.12660047743043px;
left: 852.8092289677372px;
width: 20px;
height: 20px;
pointer-events: auto;
}

.t-l-c-waterTraceabilityContentOld .waterTraceabilityContent-t-component-0-1 {
position: absolute !important;
top: 68px;
left: 20px;
width: 410px;
height: 31px;
pointer-events: auto;
}

.t-l-c-waterTraceabilityContentOld .waterTraceabilityContent-t-text-0-2 {
position: absolute !important;
top: 73px;
left: 60px;
width: 130px;
height: 19px;
pointer-events: auto;
}

.t-l-c-waterTraceabilityContentOld .waterTraceabilityContent-t-rect-0-3 {
position: absolute !important;
top: 60px;
left: 2px;
width: 450px;
height: 1px;
pointer-events: auto;
}

.t-l-c-waterTraceabilityContentOld .waterTraceabilityContent-t-row-0-4 {
position: absolute !important;
top: 111px;
left: 19px;
width: 412px;
height: 771px;
pointer-events: auto;
overflow: visible;
display: block;
}

.t-l-c-waterTraceabilityContentOld .waterTraceabilityContent-t-col-0-4-0 {
position: relative;
top: null;
left: null;
width: 100%;
height: 50px;
pointer-events: auto;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
margin-top: 0px;
padding-left: 0px;
}

.t-l-c-waterTraceabilityContentOld .waterTraceabilityContent-t-text-0-4-0-0 {
position: unset;
top: 319px;
left: 19px;
width: 100px;
height: 19px;
pointer-events: auto;
}

.t-l-c-waterTraceabilityContentOld .waterTraceabilityContent-t-select-0-4-0-1 {
position: unset;
top: 311px;
left: 101px;
width: 105px;
height: 32px;
pointer-events: auto;
}

.t-l-c-waterTraceabilityContentOld .waterTraceabilityContent-t-text-0-4-0-2 {
position: unset;
top: 319px;
left: 237px;
width: 100px;
height: 16px;
pointer-events: auto;
}

.t-l-c-waterTraceabilityContentOld .waterTraceabilityContent-t-cascader-0-4-0-3 {
position: unset;
top: 153px;
left: 237px;
width: 116px;
height: 32px;
pointer-events: auto;
}

.t-l-c-waterTraceabilityContentOld .waterTraceabilityContent-t-rect-0-4-0-4 {
position: unset;
top: 312px;
left: 609px;
width: 100px;
height: 33px;
pointer-events: auto;
}

.t-l-c-waterTraceabilityContentOld .waterTraceabilityContent-t-iframe-0-4-2 {
position: unset;
top: 65px;
left: 489px;
width: 409px;
height: 710px;
pointer-events: auto;
}
