.t-l-c-lianshanPopupBaseInfo {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
height: 342px;
width: 100%;
background-color: rgba(0,0,0,0);
}
.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-row-0-0 {
position: absolute !important;
top: 10px;
left: 0px;
width: 100%;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
gap: 5px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-row-0-0-0 {
position: unset;
top: 98px;
left: 75px;
width: 100%;
height: auto;
pointer-events: auto;
display: flex;
justify-content: left;
align-items: start;
gap: 0px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-col-0-0-0-0 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: right;
align-items: center;
gap: unset;
margin-right: 0px;
padding-right: 0px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-button-0-0-0-0-0 {
position: unset;
top: 7px;
left: 1290px;
width: 70px;
height: 36px;
pointer-events: auto;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-row-0-0-2 {
position: unset;
top: 58px;
left: 35px;
width: 100%;
height: auto;
pointer-events: auto;
display: flex;
justify-content: left;
align-items: start;
gap: 0px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-col-0-0-2-0 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
gap: unset;
margin-right: 0px;
padding-right: 0px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-text-0-0-2-0-0 {
position: unset;
top: 57px;
left: 30px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-col-0-0-2-1 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
padding-left: 5px;
padding-right: 5px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-text-0-0-2-1-0 {
position: unset;
top: 57px;
left: 152px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-col-0-0-2-2 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-text-0-0-2-2-0 {
position: unset;
top: 57px;
left: 509px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-col-0-0-2-3 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
padding-left: 5px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-text-0-0-2-3-0 {
position: unset;
top: 57px;
left: 631px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-row-0-0-3 {
position: unset;
top: 68px;
left: 45px;
width: 100%;
height: auto;
pointer-events: auto;
display: flex;
justify-content: left;
align-items: start;
gap: 0px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-col-0-0-3-0 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
gap: unset;
margin-right: 0px;
padding-right: 0px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-text-0-0-3-0-0 {
position: unset;
top: 67px;
left: 40px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-col-0-0-3-1 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
padding-left: 5px;
padding-right: 5px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-text-0-0-3-1-0 {
position: unset;
top: 67px;
left: 162px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-col-0-0-3-2 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-text-0-0-3-2-0 {
position: unset;
top: 67px;
left: 519px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-col-0-0-3-3 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
padding-left: 5px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-text-0-0-3-3-0 {
position: unset;
top: 67px;
left: 641px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-row-0-0-4 {
position: unset;
top: 88px;
left: 65px;
width: 100%;
height: auto;
pointer-events: auto;
display: flex;
justify-content: left;
align-items: start;
gap: 0px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-col-0-0-4-0 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
gap: unset;
margin-right: 0px;
padding-right: 0px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-text-0-0-4-0-0 {
position: unset;
top: 87px;
left: 60px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-col-0-0-4-1 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
padding-left: 5px;
padding-right: 5px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-text-0-0-4-1-0 {
position: unset;
top: 87px;
left: 182px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-col-0-0-4-2 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-text-0-0-4-2-0 {
position: unset;
top: 87px;
left: 539px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-col-0-0-4-3 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
padding-left: 5px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-text-0-0-4-3-0 {
position: unset;
top: 87px;
left: 661px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-row-0-0-5 {
position: unset;
top: 98px;
left: 75px;
width: 100%;
height: auto;
pointer-events: auto;
display: flex;
justify-content: left;
align-items: start;
gap: 0px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-col-0-0-5-0 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
gap: unset;
margin-right: 0px;
padding-right: 0px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-text-0-0-5-0-0 {
position: unset;
top: 97px;
left: 70px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-col-0-0-5-1 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
padding-left: 5px;
padding-right: 5px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-text-0-0-5-1-0 {
position: unset;
top: 97px;
left: 192px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-col-0-0-5-2 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-text-0-0-5-2-0 {
position: unset;
top: 97px;
left: 549px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-col-0-0-5-3 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
padding-left: 5px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-text-0-0-5-3-0 {
position: unset;
top: 97px;
left: 671px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-row-0-0-6 {
position: unset;
top: 78px;
left: 55px;
width: 100%;
height: auto;
pointer-events: auto;
display: flex;
justify-content: left;
align-items: start;
gap: 0px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-col-0-0-6-0 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
gap: unset;
margin-right: 0px;
padding-right: 0px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-text-0-0-6-0-0 {
position: unset;
top: 77px;
left: 50px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-col-0-0-6-1 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
padding-left: 5px;
padding-right: 0px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-text-0-0-6-1-0 {
position: unset;
top: 77px;
left: 172px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-row-0-0-7 {
position: unset;
top: 88px;
left: 65px;
width: 100%;
height: auto;
pointer-events: auto;
display: flex;
justify-content: left;
align-items: start;
gap: 0px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-col-0-0-7-0 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
gap: unset;
margin-right: 0px;
padding-right: 0px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-text-0-0-7-0-0 {
position: unset;
top: 87px;
left: 60px;
width: 100%;
height: 32px;
pointer-events: auto;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-col-0-0-7-1 {
position: relative;
top: null;
left: null;
width: 100px;
height: auto;
pointer-events: auto;
display: flex;
justify-content: center;
align-items: center;
padding-left: 5px;
padding-right: 0px;
animation-name: ;
}

.t-l-c-lianshanPopupBaseInfo .lianshanPopupBaseInfo-t-text-0-0-7-1-0 {
position: unset;
top: 87px;
left: 182px;
width: 100%;
height: 32px;
pointer-events: auto;
}
