.t-l-c-gztRightShjbj {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 1190px;
height: 332px;
background-color: rgba(0,0,0,0);
}
.t-l-c-gztRightShjbj .gztRightShjbj-t-rect-0-0 {
position: absolute !important;
top: 0px;
left: 0px;
width: 1190px;
height: 332px;
pointer-events: auto;
}

.t-l-c-gztRightShjbj .gztRightShjbj-t-rect-0-1 {
position: absolute !important;
top: 0px;
left: 0px;
width: 1190px;
height: 46px;
pointer-events: auto;
}

.t-l-c-gztRightShjbj .gztRightShjbj-t-select-0-2 {
position: absolute !important;
top: 63px;
left: 84px;
width: 501px;
height: 32px;
pointer-events: auto;
}

.t-l-c-gztRightShjbj .gztRightShjbj-t-date-picker-0-3 {
position: absolute !important;
top: 63px;
left: 665px;
width: 503px;
height: 32px;
pointer-events: auto;
}

.t-l-c-gztRightShjbj .gztRightShjbj-t-text-common-0-4 {
position: absolute !important;
top: 69px;
left: 13px;
width: 62px;
height: 20px;
pointer-events: auto;
}

.t-l-c-gztRightShjbj .gztRightShjbj-t-text-common-0-5 {
position: absolute !important;
top: 69px;
left: 619px;
width: 44px;
height: 20px;
pointer-events: auto;
}

.t-l-c-gztRightShjbj .gztRightShjbj-t-table-0-6 {
position: absolute !important;
top: 114px;
left: 14px;
width: 1159px;
height: 209px;
pointer-events: auto;
}

.t-l-c-gztRightShjbj .gztRightShjbj-t-line-0-7 {
position: absolute !important;
top: 103px;
left: 17px;
width: 1157px;
height: 1px;
pointer-events: auto;
}

.t-l-c-gztRightShjbj .gztRightShjbj-t-image-base-0-8 {
position: absolute !important;
top: 10px;
left: 12px;
width: 16px;
height: 26px;
pointer-events: auto;
}

.t-l-c-gztRightShjbj .gztRightShjbj-t-text-common-0-9 {
position: absolute !important;
top: 8px;
left: 36px;
width: 151px;
height: 30px;
pointer-events: auto;
}
