.t-l-c-videoWarningDetail {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 1000px;
height: 640px;
background-color: rgba(0,0,0,0);
}
.t-l-c-videoWarningDetail .videoWarningDetail-t-swiper-base-0-0 {
position: absolute !important;
top: 106px;
left: 44px;
width: 917px;
height: 503px;
pointer-events: auto;
}

.t-l-c-videoWarningDetail .videoWarningDetail-t-text-common-0-1 {
position: absolute !important;
top: 9px;
left: 19px;
width: 120px;
height: 32px;
pointer-events: auto;
}

.t-l-c-videoWarningDetail .videoWarningDetail-t-text-common-0-2 {
position: absolute !important;
top: 10px;
left: 501px;
width: 120px;
height: 32px;
pointer-events: auto;
}

.t-l-c-videoWarningDetail .videoWarningDetail-t-text-common-0-3 {
position: absolute !important;
top: 44px;
left: 18px;
width: 120px;
height: 32px;
pointer-events: auto;
}

.t-l-c-videoWarningDetail .videoWarningDetail-t-text-common-0-4 {
position: absolute !important;
top: 45px;
left: 500px;
width: 120px;
height: 32px;
pointer-events: auto;
}

.t-l-c-videoWarningDetail .videoWarningDetail-t-text-common-0-5 {
position: absolute !important;
top: 9px;
left: 142px;
width: 354px;
height: 32px;
pointer-events: auto;
}

.t-l-c-videoWarningDetail .videoWarningDetail-t-text-common-0-6 {
position: absolute !important;
top: 10px;
left: 624px;
width: 354px;
height: 32px;
pointer-events: auto;
}

.t-l-c-videoWarningDetail .videoWarningDetail-t-text-common-0-7 {
position: absolute !important;
top: 44px;
left: 141px;
width: 354px;
height: 32px;
pointer-events: auto;
}

.t-l-c-videoWarningDetail .videoWarningDetail-t-text-common-0-8 {
position: absolute !important;
top: 45px;
left: 623px;
width: 354px;
height: 32px;
pointer-events: auto;
}
