
/* 弹窗相关 */
.el-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0px !important;
}
.el-dialog__title {
  color: #ffffff;
  display: flex;
  justify-content: center;
}
.el-dialog__header {
  background: #074799;
}
.el-dialog__header .el-dialog__headerbtn .el-dialog__close {
  color: #ffffff;
  font-size: 20px;
}
.el-dialog__body {
  background: #074799;
}
.img-dialog-content {
  display: flex;
  justify-content: center;
}
.image-preview {
  width: 70vw;
  height: auto;
  object-fit: cover;
}

