.t-l-c-shjPjjgfx {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 995px;
height: 860px;
background-color: rgba(0,0,0,0);
}
.t-l-c-shjPjjgfx .shjPjjgfx-t-rect-0-0 {
position: absolute !important;
top: 2px;
left: 0px;
width: 993px;
height: 857px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-component-0-1 {
position: absolute !important;
top: 268px;
left: 20px;
width: 942px;
height: 35px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-2 {
position: absolute !important;
top: 273px;
left: 62px;
width: 299px;
height: 23px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-chart-design-0-3 {
position: absolute !important;
top: 358px;
left: 683px;
width: 275px;
height: 195px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-rect-0-4 {
position: absolute !important;
top: 316px;
left: 674px;
width: 298px;
height: 257px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-5 {
position: absolute !important;
top: 330px;
left: 689px;
width: 96px;
height: auto;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-rect-0-6 {
position: absolute !important;
top: 318px;
left: 348px;
width: 298px;
height: 257px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-chart-design-0-7 {
position: absolute !important;
top: 360px;
left: 357px;
width: 275px;
height: 195px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-8 {
position: absolute !important;
top: 331px;
left: 363px;
width: 78px;
height: 15px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-rect-0-9 {
position: absolute !important;
top: 107px;
left: 20px;
width: 953px;
height: 142px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-10 {
position: absolute !important;
top: 124px;
left: 38px;
width: auto;
height: 18px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-rect-0-11 {
position: absolute !important;
top: 162px;
left: 39px;
width: 70px;
height: 70px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-rect-0-12 {
position: absolute !important;
top: 162px;
left: 503px;
width: 70px;
height: 70px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-rect-0-13 {
position: absolute !important;
top: 161px;
left: 116px;
width: 374px;
height: 70px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-rect-0-14 {
position: absolute !important;
top: 162px;
left: 579px;
width: 374px;
height: 70px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-rect-0-15 {
position: absolute !important;
top: 176px;
left: 333px;
width: 1px;
height: 44px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-rect-0-16 {
position: absolute !important;
top: 176px;
left: 790px;
width: 1px;
height: 44px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-17 {
position: absolute !important;
top: 180px;
left: 133px;
width: 44px;
height: auto;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-unit-0-18 {
position: absolute !important;
top: 203px;
left: 134px;
width: 56px;
height: 18px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-19 {
position: absolute !important;
top: 180px;
left: 193px;
width: 44px;
height: auto;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-20 {
position: absolute !important;
top: 180px;
left: 263px;
width: 66px;
height: auto;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-unit-0-21 {
position: absolute !important;
top: 203px;
left: 193px;
width: 63px;
height: 18px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-unit-0-22 {
position: absolute !important;
top: 203px;
left: 263px;
width: 65px;
height: 18px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-23 {
position: absolute !important;
top: 180px;
left: 363px;
width: 66px;
height: auto;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-24 {
position: absolute !important;
top: 180px;
left: 428px;
width: 66px;
height: auto;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-unit-0-25 {
position: absolute !important;
top: 203px;
left: 363px;
width: 57px;
height: 18px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-unit-0-26 {
position: absolute !important;
top: 203px;
left: 428px;
width: 60px;
height: 18px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-27 {
position: absolute !important;
top: 178px;
left: 888px;
width: 66px;
height: auto;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-unit-0-28 {
position: absolute !important;
top: 201px;
left: 888px;
width: 65px;
height: 18px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-29 {
position: absolute !important;
top: 178px;
left: 820px;
width: 66px;
height: auto;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-row-0-30 {
position: absolute !important;
top: 332px;
left: 789px;
width: 180px;
height: auto;
pointer-events: auto;
animation-name: ;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
column-gap: 5px;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-30-0 {
position: unset;
top: 332px;
left: 849px;
width: auto;
height: auto;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-unit-0-30-1 {
position: unset;
top: 333px;
left: 910px;
width: auto;
height: 15px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-unit-0-30-2 {
position: unset;
top: 333px;
left: 910px;
width: auto;
height: 15px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-row-0-31 {
position: absolute !important;
top: 332px;
left: 450px;
width: 190px;
height: auto;
pointer-events: auto;
animation-name: ;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
column-gap: 5px;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-31-0 {
position: unset;
top: 334px;
left: 520px;
width: auto;
height: auto;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-unit-0-31-1 {
position: unset;
top: 334px;
left: 584px;
width: auto;
height: 15px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-unit-0-31-2 {
position: unset;
top: 334px;
left: 584px;
width: auto;
height: 15px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-row-0-32 {
position: absolute !important;
top: 120px;
left: 200px;
width: 750px;
height: auto;
pointer-events: auto;
animation-name: ;
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-end;
column-gap: 5px;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-32-0 {
position: unset;
top: 122px;
left: 476px;
width: auto;
height: auto;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-unit-0-32-1 {
position: unset;
top: 122px;
left: 523px;
width: auto;
height: 19px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-32-2 {
position: unset;
top: 122px;
left: 590px;
width: auto;
height: auto;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-unit-0-32-3 {
position: unset;
top: 122px;
left: 648px;
width: auto;
height: 19px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-unit-0-32-4 {
position: unset;
top: 122px;
left: 648px;
width: auto;
height: 19px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-32-5 {
position: unset;
top: 122px;
left: 715px;
width: auto;
height: auto;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-unit-0-32-6 {
position: unset;
top: 122px;
left: 762px;
width: auto;
height: 19px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-32-7 {
position: unset;
top: 122px;
left: 829px;
width: auto;
height: auto;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-unit-0-32-8 {
position: unset;
top: 122px;
left: 887px;
width: auto;
height: 19px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-unit-0-32-9 {
position: unset;
top: 122px;
left: 887px;
width: auto;
height: 19px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-33 {
position: absolute !important;
top: 178px;
left: 720px;
width: 66px;
height: auto;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-row-0-34 {
position: absolute !important;
top: 332px;
left: 130px;
width: 190px;
height: auto;
pointer-events: auto;
animation-name: ;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
column-gap: 5px;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-34-0 {
position: unset;
top: 334px;
left: 196px;
width: auto;
height: auto;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-unit-0-34-1 {
position: unset;
top: 335px;
left: 260px;
width: auto;
height: 15px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-unit-0-34-2 {
position: unset;
top: 335px;
left: 260px;
width: auto;
height: 15px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-unit-0-35 {
position: absolute !important;
top: 201px;
left: 650px;
width: 46px;
height: 18px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-unit-0-36 {
position: absolute !important;
top: 201px;
left: 720px;
width: 65px;
height: 18px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-37 {
position: absolute !important;
top: 178px;
left: 650px;
width: 44px;
height: auto;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-38 {
position: absolute !important;
top: 178px;
left: 592px;
width: 44px;
height: auto;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-unit-0-39 {
position: absolute !important;
top: 201px;
left: 593px;
width: 48px;
height: 18px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-unit-0-40 {
position: absolute !important;
top: 201px;
left: 820px;
width: 47px;
height: 18px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-date-picker-0-41 {
position: absolute !important;
top: 15px;
left: 647px;
width: 316px;
height: 32px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-tabs-base-0-42 {
position: absolute !important;
top: 15px;
left: 21px;
width: 345px;
height: 32px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-rect-0-43 {
position: absolute !important;
top: -120px;
left: 391px;
width: 995px;
height: 47px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-rect-0-44 {
position: absolute !important;
top: -108px;
left: 1333px;
width: 24px;
height: 24px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-select-0-46 {
position: absolute !important;
top: 636px;
left: 27px;
width: 168px;
height: 32px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-component-0-47 {
position: absolute !important;
top: 62px;
left: 22px;
width: 942px;
height: 35px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-48 {
position: absolute !important;
top: 67px;
left: 64px;
width: 299px;
height: 23px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-table-0-49 {
position: absolute !important;
top: 684px;
left: 26px;
width: 940px;
height: 152px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-component-0-50 {
position: absolute !important;
top: 595px;
left: 22px;
width: 941px;
height: 29px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-rect-0-51 {
position: absolute !important;
top: 318px;
left: 24px;
width: 298px;
height: 257px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-chart-design-0-52 {
position: absolute !important;
top: 360px;
left: 33px;
width: 276px;
height: 189px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-53 {
position: absolute !important;
top: 331px;
left: 39px;
width: 78px;
height: 15px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-54 {
position: absolute !important;
top: 600px;
left: 66px;
width: 299px;
height: 23px;
pointer-events: auto;
}

.t-l-c-shjPjjgfx .shjPjjgfx-t-text-0-55 {
position: absolute !important;
top: -106px;
left: 411px;
width: 686px;
height: 19px;
pointer-events: auto;
}
