.t-l-c-waterDialogFSAnalysis {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Relative;
z-index: 0;
filter: ;
width: 824px;
height: 580px;
background-color: rgba(0,0,0,0);
}
.t-l-c-waterDialogFSAnalysis .waterDialogFSAnalysis-t-rect-0-0 {
position: absolute !important;
top: 0px;
left: 0px;
width: 824px;
height: 100px;
pointer-events: auto;
}

.t-l-c-waterDialogFSAnalysis .waterDialogFSAnalysis-t-tabs-base-0-1 {
position: absolute !important;
top: 11px;
left: 16px;
width: 792px;
height: 33px;
pointer-events: auto;
}

.t-l-c-waterDialogFSAnalysis .waterDialogFSAnalysis-t-component-0-2 {
position: absolute !important;
top: 47px;
left: 0px;
width: 824px;
height: 533px;
pointer-events: auto;
}
