.t-l-c-videoWarningReal {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
height: 356px;
width: 410px;
background-color: rgba(0,0,0,0);
}
.t-l-c-videoWarningReal .videoWarningReal-t-component-0-0 {
position: absolute !important;
top: 0px;
left: 0px;
width: 410px;
height: 32px;
pointer-events: auto;
}

.t-l-c-videoWarningReal .videoWarningReal-t-text-0-1 {
position: absolute !important;
top: 6px;
left: 294px;
width: 108px;
height: 20px;
pointer-events: auto;
}

.t-l-c-videoWarningReal .videoWarningReal-t-text-unit-0-2 {
position: absolute !important;
top: 6px;
left: 35px;
width: 261px;
height: 20px;
pointer-events: auto;
}

.t-l-c-videoWarningReal .videoWarningReal-t-select-0-3 {
position: absolute !important;
top: 46px;
left: 113px;
width: 295px;
height: 32px;
pointer-events: auto;
}

.t-l-c-videoWarningReal .videoWarningReal-t-rect-0-4 {
position: absolute !important;
top: 100px;
left: -1px;
width: 410px;
height: 42px;
pointer-events: auto;
}

.t-l-c-videoWarningReal .videoWarningReal-t-rect-0-5 {
position: absolute !important;
top: 112px;
left: 15px;
width: 18px;
height: 19px;
pointer-events: auto;
}

.t-l-c-videoWarningReal .videoWarningReal-t-high-light-text-0-6 {
position: absolute !important;
top: 100px;
left: 45px;
width: 364px;
height: 42px;
pointer-events: auto;
}

.t-l-c-videoWarningReal .videoWarningReal-t-text-common-0-7 {
position: absolute !important;
top: 53px;
left: 6px;
width: 89px;
height: 20px;
pointer-events: auto;
}

.t-l-c-videoWarningReal .videoWarningReal-t-table-0-8 {
position: absolute !important;
top: 156px;
left: 0px;
width: 409px;
height: 180px;
pointer-events: auto;
}
