.t-l-c-effectEvaluation {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 450px;
height: 770px;
background-color: rgba(0, 0, 0, 0);
}
.t-l-c-effectEvaluation .effectEvaluation-t-select-0-0 {
position: absolute !important;
top: 0px;
left: 25px;
width: 118px;
height: 32px;
pointer-events: auto;
}

.t-l-c-effectEvaluation .effectEvaluation-t-select-0-1 {
position: absolute !important;
top: 0px;
left: 317px;
width: 107px;
height: 32px;
pointer-events: auto;
}

.t-l-c-effectEvaluation .effectEvaluation-t-component-0-2 {
position: absolute !important;
top: 48px;
left: 25px;
width: 400px;
height: 32px;
pointer-events: auto;
}

.t-l-c-effectEvaluation .effectEvaluation-t-component-0-3 {
position: absolute !important;
top: 340px;
left: 26px;
width: 400px;
height: 32px;
pointer-events: auto;
}

.t-l-c-effectEvaluation .effectEvaluation-t-text-unit-0-4 {
position: absolute !important;
top: 49px;
left: 56px;
width: 244px;
height: 32px;
pointer-events: auto;
}

.t-l-c-effectEvaluation .effectEvaluation-t-text-unit-0-5 {
position: absolute !important;
top: 341px;
left: 57px;
width: 333px;
height: 32px;
pointer-events: auto;
}

.t-l-c-effectEvaluation .effectEvaluation-t-chart-curve-0-6 {
position: absolute !important;
top: 390px;
left: 17px;
width: 416px;
height: 285px;
pointer-events: auto;
}

.t-l-c-effectEvaluation .effectEvaluation-t-date-picker-0-7 {
position: absolute !important;
top: 0px;
left: 151px;
width: 157px;
height: 32px;
pointer-events: auto;
}

.t-l-c-effectEvaluation .effectEvaluation-t-date-picker-0-8 {
position: absolute !important;
top: 0px;
left: 151px;
width: 157px;
height: 32px;
pointer-events: auto;
}

.t-l-c-effectEvaluation .effectEvaluation-t-text-0-9 {
position: absolute !important;
top: 47px;
left: 308px;
width: 113px;
height: 32px;
pointer-events: auto;
}

.t-l-c-effectEvaluation .effectEvaluation-t-list-card-rate-0-10 {
position: absolute !important;
top: 86px;
left: 13px;
width: 429px;
height: 242px;
pointer-events: auto;
}
