.t-l-c-waterFunctionalDetails {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
--scrollbar-track-color: transparent;
--scrollbar-thumb-color: transparent;
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 450px;
height: 900px;
background-color: rgba(0,0,0,0);
}
.t-l-c-waterFunctionalDetails .waterFunctionalDetails-t-text-0-0 {
position: absolute !important;
top: 18px;
left: 12px;
width: 43px;
height: 18px;
pointer-events: auto;
}

.t-l-c-waterFunctionalDetails .waterFunctionalDetails-t-rect-0-1 {
position: absolute !important;
top: 55px;
left: 0px;
width: 450px;
height: 1px;
pointer-events: auto;
}

.t-l-c-waterFunctionalDetails .waterFunctionalDetails-t-text-0-2 {
position: absolute !important;
top: 15px;
left: 75px;
width: 184px;
height: 24px;
pointer-events: auto;
}

.t-l-c-waterFunctionalDetails .waterFunctionalDetails-t-component-0-3 {
position: absolute !important;
top: 68px;
left: 0px;
width: 450px;
height: 814px;
pointer-events: auto;
}
