.t-l-c-waterSurfaceContent {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 450px;
background-color: rgba(20, 22, 31, 0);
height: 900px;
}
.t-l-c-waterSurfaceContent .waterSurfaceContent-t-tabs-0-0 {
position: absolute !important;
top: 0px;
left: 0px;
width: 450px;
height: 50px;
pointer-events: auto;
}

.t-l-c-waterSurfaceContent .waterSurfaceContent-t-component-0-1 {
position: absolute !important;
top: 50px;
left: 0px;
width: 450px;
height: 850px;
pointer-events: auto;
}
