.t-l-c-performanceTrackingSection4 {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
background-color: rgba(0,0,0,0);
width: 400px;
height: 108px;
}
.t-l-c-performanceTrackingSection4 .performanceTrackingSection4-t-image-base-0-0 {
position: absolute !important;
top: 0px;
left: 1px;
width: 400px;
height: 108px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection4 .performanceTrackingSection4-t-image-base-0-1 {
position: absolute !important;
top: 0px;
left: 0px;
width: 400px;
height: 108px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection4 .performanceTrackingSection4-t-text-0-2 {
position: absolute !important;
top: 52px;
left: 44px;
width: 47px;
height: 14px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection4 .performanceTrackingSection4-t-text-0-3 {
position: absolute !important;
top: 52px;
left: 265px;
width: 107px;
height: 14px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection4 .performanceTrackingSection4-t-text-0-4 {
position: absolute !important;
top: 52px;
left: 157px;
width: 82px;
height: 14px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection4 .performanceTrackingSection4-t-text-unit-0-5 {
position: absolute !important;
top: 74px;
left: 33px;
width: 66px;
height: 22px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection4 .performanceTrackingSection4-t-text-unit-0-6 {
position: absolute !important;
top: 74px;
left: 165px;
width: 66px;
height: 22px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection4 .performanceTrackingSection4-t-text-unit-0-7 {
position: absolute !important;
top: 74px;
left: 289px;
width: 66px;
height: 22px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection4 .performanceTrackingSection4-t-rect-0-8 {
position: absolute !important;
top: 2px;
left: 15px;
width: 30px;
height: 30px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection4 .performanceTrackingSection4-t-text-0-9 {
position: absolute !important;
top: 9px;
left: 49px;
width: 325px;
height: 16px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection4 .performanceTrackingSection4-t-rect-0-10 {
position: absolute !important;
top: 52px;
left: 132px;
width: 1px;
height: 38px;
pointer-events: auto;
}

.t-l-c-performanceTrackingSection4 .performanceTrackingSection4-t-rect-0-11 {
position: absolute !important;
top: 53px;
left: 265px;
width: 1px;
height: 38px;
pointer-events: auto;
}
