.t-l-c-airOverviewPollutantCompare {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 410px;
height: 220px;
background-color: rgba(0,0,0,0);
}
.t-l-c-airOverviewPollutantCompare .airOverviewPollutantCompare-t-list-card-rate-0-0 {
position: absolute !important;
top: 0px;
left: 0px;
width: 410px;
height: 250px;
pointer-events: auto;
}

.t-l-c-airOverviewPollutantCompare .airOverviewPollutantCompare-t-text-0-1 {
position: absolute !important;
top: 3px;
left: 0px;
width: 407px;
height: 212px;
pointer-events: auto;
}
