.t-l-c-dataSpaceIndexNew {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 907px;
height: 802px;
background-color: rgba(0, 0, 0, 0);
}
.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-rect-0-0 {
position: absolute !important;
top: 34.320339360512975px;
left: 237.03673055349304px;
width: 431.70440421616735px;
height: 30.835000610351564px;
pointer-events: auto;
}

.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-text-0-1 {
position: absolute !important;
top: 23.296704126783652px;
left: 398.03202592729747px;
width: 110.92168231049844px;
height: 30.706668090820312px;
pointer-events: auto;
}

.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-text-0-2 {
position: absolute !important;
top: 72px;
left: 162px;
width: 141px;
height: 44px;
pointer-events: auto;
}

.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-line-0-3 {
position: absolute !important;
top: 84px;
left: 590px;
width: 1px;
height: 104px;
pointer-events: auto;
}

.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-loop-video-0-4 {
position: absolute !important;
top: 440px;
left: 330px;
width: 254px;
height: 225px;
pointer-events: auto;
}

.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-rect-0-5 {
position: absolute !important;
top: 436px;
left: 123px;
width: 660px;
height: 210px;
pointer-events: auto;
}

.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-rect-0-7 {
position: absolute !important;
top: 250px;
left: 292px;
width: 326px;
height: 268px;
pointer-events: none;
}

.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-rect-0-9 {
position: absolute !important;
top: 376px;
left: 401px;
width: 99px;
height: 54px;
pointer-events: auto;
}

.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-iframe-0-11 {
position: absolute !important;
top: 336px;
left: 85px;
width: 740px;
height: 260px;
pointer-events: auto;
}

.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-rect-0-12 {
position: absolute !important;
top: 110px;
left: 50px;
width: 829px;
height: 166px;
pointer-events: auto;
}

.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-row-0-13 {
position: absolute !important;
top: 199px;
left: 120px;
width: 210px;
height: 35px;
pointer-events: auto;
letter-spacing: 0px;
animation-name: ;
font-weight: 600;
display: flex;
padding-left: 0px;
padding-right: 10px;
background-image: ;
-webkit-mask-image: ;
background-repeat: ;
-webkit-mask-repeat: ;
background-size: ;
-webkit-mask-size: ;
background-position: ;
-webkit-mask-position: ;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
align-items: center;
background-color: var(--t-select-fill-bg);
}

.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-text-0-13-0 {
position: unset;
top: 611px;
left: -228px;
width: auto;
height: 18px;
pointer-events: auto;
}

.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-rolling-number-0-13-1 {
position: unset;
top: 427px;
left: -383px;
width: auto;
height: 30px;
pointer-events: auto;
}

.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-row-0-14 {
position: absolute !important;
top: 199px;
left: 360px;
width: 210px;
height: 35px;
pointer-events: auto;
letter-spacing: 0px;
animation-name: ;
font-weight: 600;
display: flex;
padding-left: 12px;
padding-right: 12px;
background-image: ;
-webkit-mask-image: ;
background-repeat: ;
-webkit-mask-repeat: ;
background-size: ;
-webkit-mask-size: ;
background-position: ;
-webkit-mask-position: ;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
align-items: center;
background-color: var(--t-select-fill-bg);
}

.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-text-0-14-0 {
position: unset;
top: 619px;
left: -38px;
width: auto;
height: 18px;
pointer-events: auto;
}

.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-rolling-number-0-14-1 {
position: unset;
top: 435px;
left: -193px;
width: auto;
height: 30px;
pointer-events: auto;
}

.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-row-0-15 {
position: absolute !important;
top: 199px;
left: 600px;
width: 210px;
height: 35px;
pointer-events: auto;
letter-spacing: 0px;
animation-name: ;
font-weight: 600;
display: flex;
padding-left: 12px;
padding-right: 12px;
background-image: ;
-webkit-mask-image: ;
background-repeat: ;
-webkit-mask-repeat: ;
background-size: ;
-webkit-mask-size: ;
background-position: ;
-webkit-mask-position: ;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
align-items: center;
background-color: var(--t-select-fill-bg);
}

.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-text-0-15-0 {
position: unset;
top: 622px;
left: 152px;
width: auto;
height: 18px;
pointer-events: auto;
}

.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-rolling-number-0-15-1 {
position: unset;
top: 438px;
left: -3px;
width: auto;
height: 30px;
pointer-events: auto;
}

.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-row-0-16 {
position: absolute !important;
top: 121px;
left: 166px;
width: 387px;
height: 66px;
pointer-events: auto;
letter-spacing: 0px;
animation-name: ;
font-weight: 600;
}

.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-rolling-number-0-16-0 {
position: unset;
top: 114px;
left: 269px;
width: 404px;
height: 64px;
pointer-events: auto;
}

.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-text-0-17 {
position: absolute !important;
top: 98px;
left: 653px;
width: 82px;
height: 42px;
pointer-events: auto;
}

.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-rect-0-18 {
position: absolute !important;
top: 109px;
left: 720px;
width: 20px;
height: 22px;
pointer-events: auto;
}

.t-l-c-dataSpaceIndexNew .dataSpaceIndexNew-t-rolling-number-0-19 {
position: absolute !important;
top: 129px;
left: 648px;
width: 180px;
height: 57px;
pointer-events: auto;
}
