.t-l-c-waterSprinklerTruckDialogTitle {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 330px;
height: 47px;
background-color: rgba(0,0,0,0);
}
.t-l-c-waterSprinklerTruckDialogTitle .waterSprinklerTruckDialogTitle-t-row-0-0 {
position: absolute !important;
top: 0px;
left: 0px;
width: 326px;
height: 46px;
pointer-events: auto;
display: flex;
justify-content: left;
align-items: center;
}

.t-l-c-waterSprinklerTruckDialogTitle .waterSprinklerTruckDialogTitle-t-text-common-0-0-0 {
position: unset;
top: 207px;
left: 375px;
width: auto;
height: 20px;
pointer-events: auto;
}

.t-l-c-waterSprinklerTruckDialogTitle .waterSprinklerTruckDialogTitle-t-rect-0-0-1 {
position: unset;
top: 205px;
left: 505px;
width: 60px;
height: 24px;
pointer-events: auto;
}
