.t-l-c-gztLeftCommonApp {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Static;
z-index: 1;
filter: ;
width: 682px;
height: 407px;
background-color: var(--t-body-background);
}
.t-l-c-gztLeftCommonApp .gztLeftCommonApp-t-rect-0-0 {
position: absolute !important;
top: 0px;
left: 0px;
width: 682px;
height: 406px;
pointer-events: auto;
}

.t-l-c-gztLeftCommonApp .gztLeftCommonApp-t-component-0-1 {
position: absolute !important;
top: 0px;
left: 0px;
width: 682px;
height: 51px;
pointer-events: auto;
}

.t-l-c-gztLeftCommonApp .gztLeftCommonApp-t-component-0-2 {
position: absolute !important;
top: 58px;
left: 12px;
width: 660px;
height: 355px;
pointer-events: auto;
}

.t-l-c-gztLeftCommonApp .gztLeftCommonApp-t-text-common-0-3 {
position: absolute !important;
top: 15px;
left: 52px;
width: 200px;
height: 24px;
pointer-events: auto;
}

.t-l-c-gztLeftCommonApp .gztLeftCommonApp-t-rect-0-4 {
position: absolute !important;
top: 13px;
left: 588px;
width: 82px;
height: 28px;
pointer-events: auto;
}

.t-l-c-gztLeftCommonApp .gztLeftCommonApp-t-rect-0-5 {
position: absolute !important;
top: 20px;
left: 595px;
width: 18px;
height: 15px;
pointer-events: auto;
}
