.t-l-c-dialogTitleFirstBgFitContent {
position: relative;
overflow: hidden;
--theme-color: var(--t-brand8);
--theme-color-opacity-10: rgba(var(--t-brand8), .1);
--theme-color-opacity-15: rgba(var(--t-brand8), .15);
--theme-color-opacity-40: rgba(var(--t-brand8), .4);
--theme-color-opacity-60: rgba(var(--t-brand8), .6);
--theme-color-opacity-80: rgba(var(--t-brand8), .8);
--theme-color-opacity-90: rgba(var(--t-brand8), .9);
pointer-events: auto;
position: Relative;
z-index: 1;
filter: ;
background-color: rgba(255, 0, 0, 0);
height: 28px;
width: 100%;
}
.t-l-c-dialogTitleFirstBgFitContent .dialogTitleFirstBgFitContent-t-rect-0-0 {
position: absolute !important;
top: -1px;
left: 45px;
width: calc(100% - 45px);
height: 28px;
pointer-events: auto;
}

.t-l-c-dialogTitleFirstBgFitContent .dialogTitleFirstBgFitContent-t-rect-0-1 {
position: absolute !important;
top: 0px;
left: 0px;
width: 50px;
height: 26px;
pointer-events: auto;
}

.t-l-c-dialogTitleFirstBgFitContent .dialogTitleFirstBgFitContent-t-component-0-2 {
position: absolute !important;
top: -1.5px;
left: 662px;
width: 193px;
height: 31px;
pointer-events: auto;
}
